{% block __oro_customer_address_form__container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' address-form',
        'data-focusable': true,
        'data-content': 'address-form'
    }) %}

    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_customer_address_form__form_actions_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' form-buttons'
    }) %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_customer_address_form__form_required_label_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' required-label',
        'aria-hidden': 'true'
    }) %}

    <p {{ block('block_attributes') }}><sup>*</sup> {{ 'oro.customer.form.label.required'|trans }}</p>
{% endblock %}
