{% block _middle_bar_widget %}
    <div class="page-area-container">
        {{ parent_block_widget(block) }}
    </div>
{% endblock %}

{% block _middle_bar_search_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " search-widget-wrap"
    }) %}

    {% set dom_relocation_options =  {
        responsive: [
            {
                viewport: 'tablet',
                moveTo: "[data-header-row-search-container]"
            }
        ]
    }|json_encode %}
    <div {{ block('block_attributes') }}>
        <form  id="oro_website_search_search"
               action="{{ url('oro_product_frontend_product_search') }}"
               method="get"
               novalidate="novalidate"
               class="search-widget"
               role="search"
               data-dom-relocation-options="{{ dom_relocation_options }}">
            <input class="search-widget__input input input--full"
                   type="text"
                   value=""
                   name="search"
                   placeholder="{{ 'oro.website_search.search_field_placeholder'|trans({}, translation_domain) }}"
                   aria-label="{{ 'oro.website_search.search_label'|trans }}"
                   data-page-component-view="oroproduct/js/app/views/search-autocomplete-view"
                   maxlength="255"
            >
            <button name="oro_website_search_search_button" class="search-widget__submit" type="submit"
                    aria-label="{{ 'oro.website_search.search_submit_btn'|trans }}">
                <span class="fa-search" aria-hidden="true"></span>
            </button>
        </form>
    </div>
{% endblock %}
