{% block _style_book_grid_element_modal_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid js-component-container',
        'data-page-component-view': 'orofrontend/js/app/views/style-book-playground',
        'data-page-component-options': {
            viewConstructor: 'oroui/js/modal',
            renderAfter: 'action',
            props: {
                title: {
                    label: 'Title',
                    value: 'Confirmation'
                },
                okText: 'OK',
                cancelText: 'Cancel',
                okButtonClass: 'btn ok btn--info',
                cancelButtonClass: 'btn cancel',
                handleClose: false,
                allowCancel: true,
                allowOk: true,
                content: {
                    type: 'textarea',
                    value: 'Hello'
                }
            }
        }
    }) %}

    <div {{ block('block_attributes') }}>
        <div class="style-book-group-element__preview">
            <button class="btn btn--info" data-action="click open">Open Modal</button>
        </div>

        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _style_book_grid_element_config_widget %}
    <div class="playground-source">
        <pre class="language-markup"><code class="style-book-group-element__code language-markup" data-config></code></pre>
    </div>

    <div class="playground-props" data-props></div>
{% endblock %}

{% block _style_book_grid_element_modal_html_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid'
    }) %}

    {% set source_code %}
        <div class="example-container">
            <button class="btn btn--info" id="modal-toggle">Open Some Modal</button>
        </div>

        <script>
            require(['jquery', 'oroui/js/modal'], function ($, Modal) {
                $('#modal-toggle').on('click', function(event) {
                    var ModalExample = new Modal({
                        title: 'Some Title',
                        okText: 'OK',
                        cancelText: 'Cancel',
                        content: 'Some content in modal'
                    });

                    ModalExample.on('ok', function(){
                        // Make some actions when user press 'OK' button
                    });

                    ModalExample.on('cancel', function(){
                        // Make some actions when user press 'Cancel' button
                    });

                    ModalExample.on('close', function(){
                        // Make some actions when user close modal window
                    });

                    ModalExample.open();
                });
            });
        </script>
    {% endset %}

    <div {{ block('block_attributes') }}>
        <div class="style-book-group-element__source">
            <pre>
                <code class="style-book-group-element__code language-markup">
                    {{ source_code|trim|escape }}
                </code>
            </pre>
        </div>
    </div>
{% endblock %}

{% block _style_book_grid_element_modal_js_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' grid'
    }) %}

    {% set source_code %}
        define(function(require) {
            'use strict';

            var SomeExampleView;
            var BaseView = require('oroui/js/app/views/base/view');
            var Modal = require('oroui/js/modal');

            SomeExampleView = BaseView.extend({
                /**
                 * @property
                 */
                modal: null,

                events: {
                    'click #modal-toggle': 'openModal'
                },

                initialize: function() {
                    SomeExampleView.__super__.initialize.apply(this);

                    this.modal = new Modal({
                        title: 'Some Title',
                        okText: 'OK',
                        cancelText: 'Cancel',
                        content: 'Some content in modal'
                    });
                },

                openModal: function() {
                    this.modal.on('ok', _.bind(this._onOKModal, this));
                    this.modal.on('cancel', _.bind(this._onCancelModal, this));
                    this.modal.on('close', _.bind(this._onCloseModal, this));

                    this.modal.open();
                },

                _onOKModal: function() {
                    // Make some actions when user press 'OK' button
                },

                _onCancelModal: function() {
                    // Make some actions when user press 'Cancel' button
                },

                _onCloseModal: function() {
                    // Make some actions when user close modal window
                }
            });

            return SomeExampleView;
        });
    {% endset %}

    <div {{ block('block_attributes') }}>
        <div class="style-book-group-element__source">
            <pre>
                <code class="style-book-group-element__code language-javascript">
                    {{ source_code|trim|escape }}
                </code>
            </pre>
        </div>
    </div>
{% endblock %}

{# LoadingMaskView #}

{% block _style_book_grid_element_loading_mask_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid js-component-container',
        'data-page-component-view': 'orofrontend/js/app/views/style-book-playground',
        'data-page-component-options': {
            viewConstructor: 'orofrontend/js/style-book-views/loading-mask-playground-view',
            props: {
                hideDelay: -1,
                loadingHint: 'Loading...'
            }
        }
    }) %}

    <div {{ block('block_attributes') }}>
        <div data-example-view>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn--info" data-toggle>Toggle Loading</button>
                <button type="button" class="btn btn--info" data-toggle-full-page>Execute full-page loading</button>
            </div>
            <div class="view-container" data-loading-container></div>
        </div>

        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _style_book_grid_element_loading_mask_config_widget %}
    <div class="playground-source">
        <pre class="language-markup"><code class="style-book-group-element__code language-markup" data-config></code></pre>
    </div>

    <div class="playground-props" data-props></div>
{% endblock %}

{% block _style_book_grid_element_loading_mask_js_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' grid'
    }) %}

    {% set source_code %}
    define(function(require) {
        'use strict';

        var SomeExampleView;
        var BaseView = require('oroui/js/app/views/base/view');
        var LoadingMaskView = require('oroui/js/app/views/loading-mask-view');

        SomeExampleView = BaseView.extend({
            events: {
                'click [show-loading]': 'showLoading',
                'click [hide-loading]': 'hideLoading'
            },

            initialize: function() {
                SomeExampleView.__super__.initialize.apply(this);

                this.subview('loadingMask', new LoadingMaskView({
                    container: this.$('selector')
                }));
            },

            showLoading: function() {
                // Show loading mask on container after some action
                this.subview('loadingMask').show();
            },

            hideLoading: function() {
                // Hide loading mask on container after some action
                this.subview('loadingMask').hide();
            }
        });

        return SomeExampleView;
    });
    {% endset %}

    <div {{ block('block_attributes') }}>
        <div class="style-book-group-element__source">
            <pre>
                <code class="style-book-group-element__code language-javascript">
                    {{ source_code|trim|escape }}
                </code>
            </pre>
        </div>
    </div>
{% endblock %}

{% block _style_book_grid_element_loading_mask_mediator_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid'
    }) %}

    {% set source_code %}
        define(function(require) {
            'use strict';

            var SomeExampleView;
            var BaseView = require('oroui/js/app/views/base/view');
            var mediator = require('oroui/js/mediator');

            SomeExampleView = BaseView.extend({
                events: {
                    'click [show-loading]': 'showLoading',
                    'click [hide-loading]': 'hideLoading'
                },

                showLoading: function() {
                    // Show loading mask on container after some action
                    mediator.execute('showLoading');
                },

                hideLoading: function() {
                    // Hide loading mask on container after some action
                    mediator.execute('hideLoading');
                }
            });

            return SomeExampleView;
        });
    {% endset %}

    <div {{ block('block_attributes') }}>
        <div class="style-book-group-element__source">
            <pre>
                <code class="style-book-group-element__code language-javascript">
                    {{ source_code|trim|escape }}
                </code>
            </pre>
        </div>
    </div>
{% endblock %}

{# Dialog Widget #}

{% block _style_book_grid_element_dialog_widget_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid js-component-container',
        'data-page-component-view': 'orofrontend/js/app/views/style-book-playground',
        'data-page-component-options': {
            viewConstructor: 'orofrontend/js/style-book-views/style-book-dialog-widget',
            renderAfter: 'action',
            props: {
                content: 'dwadawda',
                'dialogOptions.title': 'Title'
            }
        }
    }) %}

    <div {{ block('block_attributes') }}>
        <div class="style-book-group-element__preview">
            <button class="btn btn--info" data-action="click render">Open Dialog</button>
        </div>

        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _style_book_grid_element_dialog_widget_config_widget %}
    <div class="playground-source">
        <pre class="language-markup"><code class="style-book-group-element__code language-markup" data-config></code></pre>
    </div>

    <div class="playground-props" data-props></div>
{% endblock %}

{# Collapse Widget #}
{% block _style_book_grid_element_collapse_widget_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid js-component-container collapse-view expanded',
        'data-page-component-view': 'orofrontend/js/app/views/style-book-playground',
        'data-page-component-options': {
            viewConstructor: 'oroui/js/widget/collapse-widget',
            props: {
                hideSibling: false,
                animationSpeed: 250,
                open: true
            }
        }
    }) %}

    <div {{ block('block_attributes') }}>
        <div class="collapse-preview">
            <h3 class="collapse-preview__title" data-collapse-trigger>
                <span class="collapse-preview__icon">
                    <i class="collapse-view__trigger-icon fa-caret-right"></i>
                </span>
                Toggle Title
            </h3>

            <div class="collapse-preview__content" data-collapse-container>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec laoreet nisl. Suspendisse et tincidunt libero. Aenean pulvinar quam vitae sapien porttitor, non tempor orci dictum. Mauris nisl diam, fringilla eu lectus sed, accumsan congue tellus. Cras quis dui eget dui fermentum gravida non et erat. Proin id fringilla nunc. Ut ullamcorper pulvinar ligula eu pulvinar. Nullam egestas cursus magna placerat bibendum. Nam iaculis elit ac massa bibendum, id dapibus nisl mattis.
            </div>
        </div>

        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _style_book_grid_element_collapse_widget_config_widget %}
    <div class="playground-source">
        <pre class="language-markup"><code class="style-book-group-element__code language-markup" data-config></code></pre>
    </div>

    <div class="playground-props" data-props></div>
{% endblock %}

{% block _style_book_grid_element_collapse_widget_html_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' grid'
    }) %}

    {% set source_code %}
        <!-- Use shortcut manager data attribute -->

        <div class="collapse-preview" data-page-component-collapse="{ options... }">
            <h3 class="collapse-preview__title" data-collapse-trigger>
                <span class="collapse-preview__icon">
                    <i class="collapse-view__trigger-icon fa-caret-right"></i>
                </span>
                Toggle Title
            </h3>

            <div class="collapse-preview__content" data-collapse-container>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec laoreet nisl. Suspendisse et tincidunt libero. Aenean pulvinar quam vitae sapien porttitor, non tempor orci dictum. Mauris nisl diam, fringilla eu lectus sed, accumsan congue tellus. Cras quis dui eget dui fermentum gravida non et erat. Proin id fringilla nunc. Ut ullamcorper pulvinar ligula eu pulvinar. Nullam egestas cursus magna placerat bibendum. Nam iaculis elit ac massa bibendum, id dapibus nisl mattis.
            </div>
        </div>
    {% endset %}

    <div {{ block('block_attributes') }}>
        <div class="style-book-group-element__source">
            <pre>
                <code class="style-book-group-element__code language-html">
                    {{ source_code|trim|escape }}
                </code>
            </pre>
        </div>
    </div>
{% endblock %}

{% block _style_book_grid_element_collapse_widget_js_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' grid'
    }) %}

    {% set source_code %}
        <script>
        define(function(require) {
            'use strict';

            var SomeExampleView;
            var BaseView = require('oroui/js/app/views/base/view');
            require('oroui/js/widget/collapse-widget');

            SomeExampleView = BaseView.extend({
                render: function() {
                    this.$el.collapseWidget({
                        // Options
                    });
                }
            });

            return SomeExampleView;
        });
        </script>
    {% endset %}

    <div {{ block('block_attributes') }}>
        <div class="style-book-group-element__source">
            <pre>
                <code class="style-book-group-element__code language-javascript">
                    {{ source_code|trim|escape }}
                </code>
            </pre>
        </div>
    </div>
{% endblock %}

{# Fullscreen Popup #}

{% block _style_book_fullscreen_popup_view_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' js-component-container',
        'data-page-component-view': 'orofrontend/js/app/views/style-book-playground',
        'data-page-component-options': {
            viewConstructor: 'orofrontend/js/style-book-views/fullscreen-popup-demo-view',
            renderAfter: 'action',
            props: {
                popupIcon: 'fa-cog',
                popupBadge: true,
                popupLabel: 'Fullscreen popup',
                contentTemplate: '<div><h1>Hello</h1></div>'
            }
        }
    }) %}

    <div {{ block('block_attributes') }}>
        <div class="style-book-group-element__preview">
            <button class="btn btn--info" data-action="click render">Open Fullscreen Popup</button>
        </div>

        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _style_book_fullscreen_popup_view_config_widget %}
    <div class="playground-source">
        <pre class="language-markup"><code class="style-book-group-element__code language-markup" data-config></code></pre>
    </div>

    <div class="playground-props" data-props></div>
{% endblock %}

{% block _style_book_grid_element_fullscreen_popup_view_js_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' grid'
    }) %}

    {% set source_code %}
        define(function(require) {
            'use strict';

            var SomeExampleView;
            var BaseView = require('oroui/js/app/views/base/view');
            var FullscreenPopupView = require('orofrontend/blank/js/app/views/fullscreen-popup-view');

            SomeExampleView = BaseView.extend({
                events: {
                    'click [show-popup]': 'showPopup',
                    'click [hide-popup]': 'hidePopup'
                },

                initialize: function(options) {
                    SomeExampleView.__super__.initialize.apply(this, arguments);

                    this.subview('fullscreenPopup', new FullscreenPopupView( {
                        contentSelector: '.selector' // is required or use 'contentElement', 'contentView'
                        // options...
                    } ))
                },

                showPopup: function() {
                    // Show loading mask on container after some action
                    this.subview('fullscreenPopup').show();
                },

                hidePopup: function() {
                    // Hide loading mask on container after some action
                    this.subview('fullscreenPopup').close();
                }
            });

            return SomeExampleView;
        });
    {% endset %}

    <div {{ block('block_attributes') }}>
        <div class="style-book-group-element__source">
            <pre>
                <code class="style-book-group-element__code language-javascript">
                    {{ source_code|trim|escape }}
                </code>
            </pre>
        </div>
    </div>
{% endblock %}

{# ScrollView #}

{% block _style_book_scroll_view_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid js-component-container',
        'data-page-component-view': 'orofrontend/js/app/views/style-book-playground',
        'data-page-component-options': {
            viewConstructor: 'orofrontend/js/app/views/scroll-view',
            props: {}
        }
    }) %}

    <div {{ block('block_attributes') }}>
        <div class="scroll-view" data-example-view>
            <div class="scroll-view__header">
                <div class="scroll-view__header--scrollable" data-scroll-view-follow="x">
                {% for i in 0..20 %}
                    <div class="scroll-view__head">Column - {{ i }}</div>
                {% endfor %}
                </div>
            </div>
            <div class="scroll-view__side">
                <div class="view__side--scrollable" data-scroll-view-follow="y">
                {% for i in 0..20 %}
                    <div class="scroll-view__side-head">Row - {{ i }}</div>
                {% endfor %}
                </div>
            </div>
            <div class="scroll-view__body" data-scroll-view>
                {% for i in 0..10%}
                <div class="scroll-view__row">
                    {% for j in 0..20 %}
                        <div class="scroll-view__cell">Cell - {{ i }}-{{ j }}</div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>

        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _style_book_scroll_view_config_widget %}
    <div class="playground-source">
        <pre class="language-markup"><code class="style-book-group-element__code language-markup" data-config></code></pre>
    </div>

    <div class="playground-props" data-props></div>
{% endblock %}

{% block _style_book_grid_element_scroll_view_html_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' grid'
    }) %}

    {% set source_code %}
        <div data-page-component-view="orofrontend/js/app/views/scroll-view">
            <div class="scroll-view">
                <div class="scroll-view__header">
                    <div class="scroll-view__header--scrollable" data-scroll-view-follow="x">
                        <!-- Some columns in the header -->
                    </div>
                </div>
                <div class="scroll-view__side">
                    <div class="view__side--scrollable" data-scroll-view-follow="y">
                        <!-- Some columns in side -->
                    </div>
                </div>
                <div class="scroll-view__body" data-scroll-view>
                    <!-- Some scrollable content -->
                </div>
            </div>
        </div>
    {% endset %}

    <div {{ block('block_attributes') }}>
        <div class="style-book-group-element__source">
            <pre>
                <code class="style-book-group-element__code language-javascript">
                    {{ source_code|trim|escape }}
                </code>
            </pre>
        </div>
    </div>
{% endblock %}

{% block _style_book_grid_element_scroll_view_js_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid'
    }) %}

    {% set source_code %}
        <script>
            define(function(require) {
                'use strict';

                var SomeExampleView;
                var BaseView = require('oroui/js/app/views/base/view');
                var ScrollView = require('orofrontend/js/app/views/scroll-view');

                SomeExampleView = BaseView.extend({
                    initialize: function() {
                        SomeExampleView.__super__.initialize.apply(this);

                        this.subview('scrollView', new ScrollView({
                            el: this.el
                        }));
                    }
                });

                return SomeExampleView;
            });
        </script>
    {% endset %}

    <div {{ block('block_attributes') }}>
        <div class="style-book-group-element__source">
            <pre>
                <code class="style-book-group-element__code language-javascript">
                    {{ source_code|trim|escape }}
                </code>
            </pre>
        </div>
    </div>
{% endblock %}

{# Googlemap View #}

{% block _style_book_googlemaps_view_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid js-component-container',
        'data-page-component-view': 'orofrontend/js/app/views/style-book-playground',
        'data-page-component-options': {
            viewConstructor: 'oroaddress/js/mapservice/googlemaps',
            props: {
                apiKey: 'AIzaSyBB80MFGd4b9as7Tv3jyY5onECcM7L5MME',
                'address.address': '67800 Junkins Avenue Albany, 31707, US-GA',
                sensor: false,
                showWeather: true,
                'mapOptions.zoom': 17,
                'mapOptions.mapTypeControl': true,
                'mapOptions.panControl': false,
                'mapOptions.zoomControl': true,
            }
        }
    }) %}

    <div {{ block('block_attributes') }}>
        <div data-example-view></div>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _style_book_grid_element_googlemaps_view_config_widget %}
    <div class="playground-source">
        <pre class="language-markup"><code class="style-book-group-element__code language-markup" data-config></code></pre>
    </div>

    <div class="playground-props" data-props></div>
{% endblock %}

{% block _style_book_grid_element_googlemaps_view_html_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' grid'
    }) %}

    {% set source_code %}
        <!-- Use shortcut manager data attribute -->

        <div class="collapse-preview" data-page-component-collapse="{ options... }">
            <h3 class="collapse-preview__title" data-collapse-trigger>
                <span class="collapse-preview__icon">
                    <i class="collapse-view__trigger-icon fa-caret-right"></i>
                </span>
                Toggle Title
            </h3>

            <div class="collapse-preview__content" data-collapse-container>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec laoreet nisl. Suspendisse et tincidunt libero. Aenean pulvinar quam vitae sapien porttitor, non tempor orci dictum. Mauris nisl diam, fringilla eu lectus sed, accumsan congue tellus. Cras quis dui eget dui fermentum gravida non et erat. Proin id fringilla nunc. Ut ullamcorper pulvinar ligula eu pulvinar. Nullam egestas cursus magna placerat bibendum. Nam iaculis elit ac massa bibendum, id dapibus nisl mattis.
            </div>
        </div>
    {% endset %}

    <div {{ block('block_attributes') }}>
        <div class="style-book-group-element__source">
            <pre>
                <code class="style-book-group-element__code language-html">
                    {{ source_code|trim|escape }}
                </code>
            </pre>
        </div>
    </div>
{% endblock %}

{% block _style_book_grid_element_googlemaps_view_js_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' grid'
    }) %}

    {% set source_code %}
        <script>
            define(function(require) {
                'use strict';

                var SomeExampleView;
                var BaseView = require('oroui/js/app/views/base/view');
                require('oroui/js/widget/collapse-widget');

                SomeExampleView = BaseView.extend({
                    render: function() {
                        this.$el.collapseWidget({
                            // Options
                        });
                    }
                });

                return SomeExampleView;
            });
        </script>
    {% endset %}

    <div {{ block('block_attributes') }}>
        <div class="style-book-group-element__source">
            <pre>
                <code class="style-book-group-element__code language-javascript">
                    {{ source_code|trim|escape }}
                </code>
            </pre>
        </div>
    </div>
{% endblock %}

{# List Slider View #}

{% block _style_book_list_slider_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid js-component-container ',
        'data-page-component-view': 'orofrontend/js/app/views/style-book-playground',
        'data-page-component-options': {
            viewConstructor: 'orofrontend/js/app/components/list-slider-component',
            props: {
                slidesToShow: 4,
                slidesToScroll: 1,
                autoplay: false,
                autoplaySpeed: 2000,
                arrows: true,
                dots: false,
                infinite: false
            }
        }
    }) %}

    <div {{ block('block_attributes') }}>
        <div class="promo-slider" data-example-view>
            <div class="promo-slider__item">
                <div class="promo-slider__picture">
                    <img class="promo-slider__img" src="http://localhost:3040/bundles/orocatalog/images/promo-slider/promo-slider-small-1.jpg" alt="Image 1" />
                </div>
            </div>

            <div class="promo-slider__item">
                <div class="promo-slider__picture">
                    <img class="promo-slider__img" src="http://localhost:3040/bundles/orocatalog/images/promo-slider/promo-slider-small-2.jpg" alt="Image 1" />
                </div>
            </div>

            <div class="promo-slider__item">
                <div class="promo-slider__picture">
                    <img class="promo-slider__img" src="http://localhost:3040/bundles/orocatalog/images/promo-slider/promo-slider-small-3.jpg" alt="Image 1" />
                </div>
            </div>

            <div class="promo-slider__item">
                <div class="promo-slider__picture">
                    <img class="promo-slider__img" src="http://localhost:3040/bundles/orocatalog/images/promo-slider/promo-slider-small-1.jpg" alt="Image 1" />
                </div>
            </div>

            <div class="promo-slider__item">
                <div class="promo-slider__picture">
                    <img class="promo-slider__img" src="http://localhost:3040/bundles/orocatalog/images/promo-slider/promo-slider-small-2.jpg" alt="Image 1" />
                </div>
            </div>

            <div class="promo-slider__item">
                <div class="promo-slider__picture">
                    <img class="promo-slider__img" src="http://localhost:3040/bundles/orocatalog/images/promo-slider/promo-slider-small-3.jpg" alt="Image 1" />
                </div>
            </div>
        </div>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _style_book_grid_element_list_slider_config_widget %}
    <div class="playground-source">
        <pre class="language-markup"><code class="style-book-group-element__code language-markup" data-config></code></pre>
    </div>

    <div class="playground-props" data-props></div>
{% endblock %}

{% block _style_book_grid_element_list_slider_html_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' grid'
    }) %}

    {% set source_code %}
        <!-- Use shortcut manager data attribute -->

        <div class="collapse-preview" data-page-component-collapse="{ options... }">
            <h3 class="collapse-preview__title" data-collapse-trigger>
                <span class="collapse-preview__icon">
                    <i class="collapse-view__trigger-icon fa-caret-right"></i>
                </span>
                Toggle Title
            </h3>

            <div class="collapse-preview__content" data-collapse-container>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec laoreet nisl. Suspendisse et tincidunt libero. Aenean pulvinar quam vitae sapien porttitor, non tempor orci dictum. Mauris nisl diam, fringilla eu lectus sed, accumsan congue tellus. Cras quis dui eget dui fermentum gravida non et erat. Proin id fringilla nunc. Ut ullamcorper pulvinar ligula eu pulvinar. Nullam egestas cursus magna placerat bibendum. Nam iaculis elit ac massa bibendum, id dapibus nisl mattis.
            </div>
        </div>
    {% endset %}

    <div {{ block('block_attributes') }}>
        <div class="style-book-group-element__source">
            <pre>
                <code class="style-book-group-element__code language-html">
                    {{ source_code|trim|escape }}
                </code>
            </pre>
        </div>
    </div>
{% endblock %}

{% block _style_book_grid_element_list_slider_js_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' grid'
    }) %}

    {% set source_code %}
        <script>
            define(function(require) {
                'use strict';

                var SomeExampleView;
                var BaseView = require('oroui/js/app/views/base/view');
                require('oroui/js/widget/collapse-widget');

                SomeExampleView = BaseView.extend({
                    render: function() {
                        this.$el.collapseWidget({
                            // Options
                        });
                    }
                });

                return SomeExampleView;
            });
        </script>
    {% endset %}

    <div {{ block('block_attributes') }}>
        <div class="style-book-group-element__source">
            <pre>
                <code class="style-book-group-element__code language-javascript">
                    {{ source_code|trim|escape }}
                </code>
            </pre>
        </div>
    </div>
{% endblock %}
