{# @name = customer_user_email_change_verification_to_old_email #}
{# @entityName = Oro\Bundle\CustomerBundle\Entity\CustomerUser #}
{# @subject = Email change request #}
{# @isSystem = 1 #}
{# @isEditable = 1 #}

{% extends oro_get_email_template('base_storefront') %}

{% block content %}
    <h1 style="{{ styleH1 }}">Hello, {{ entity|oro_format_name }}!</h1>

    <!--empty space-->
    <table role="presentation" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td height="12" style="{{ styleEmptyRowH12 }}">&nbsp;</td>
        </tr>
    </table>

    <p style="{{ styleP }}">We received a request to change your account email to <strong>{{ entity.newEmail }}</strong>.</p>
    <p style="{{ styleP }}">Please visit the link below to confirm or cancel the update:
        <a class="link" style="{{ styleLink }}"
           href="{{ website_path('oro_customer_frontend_customer_user_confirm_old_email', { token: entity.newEmailVerificationCode }) }}">{{ website_path('oro_customer_frontend_customer_user_confirm_old_email', { token: entity.newEmailVerificationCode }) }}</a>
    </p>
    <p style="{{ styleP }}">If you did not authorize this change, please contact support immediately to secure your account.</p>
{% endblock %}
