@name = customer_user_welcome_email_registered_by_admin
@entityName = Oro\Bundle\CustomerBundle\Entity\CustomerUser
@subject = Welcome: {{ entity|oro_format_name }}
@isSystem = 1
@isEditable = 1

{% set frontendUrl = website_secure_path('oro_frontend_root', {}, entity.website) %}
{% set resetPasswordUrl = website_secure_path('oro_customer_frontend_customer_user_password_reset', { token: entity.confirmationToken }, entity.website) %}
{% set organizationName = entity.organization|oro_format_name %}

<h1>Dear {{ entity|oro_format_name }},</h1>
<h1>Welcome to {{ organizationName }}.</h1>

<div>
    <p>Please follow the link below to create a password for your new account.</p>
    <p><a href="{{ resetPasswordUrl }}">{{ resetPasswordUrl }}</a></p>
    <p>To log into your new account, just click 'Sign In' at the top of <a href="{{ frontendUrl }}">{{ frontendUrl }}</a>. Enter the below credentials:<br/>
        <b>Email:</b> {{ entity.email }}<br/>
        <b>Password:</b> This is the password you created. If you ever forget your password, recover it <a href="{{ resetPasswordUrl }}">here</a>.</p>
    <p>If you have any questions, please contact us.</p>
    <p>
        Thank you,<br/>
        {{ organizationName }} Team
    </p>
</div>
