{% block _customer_user_page_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' customer-user-form',
        'data-focusable': true,
    }) %}
    <div{{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block __oro_customer_user_email_form__customer_user_form_fields_widget %}
    {% do block|merge_context({
        'form': form,
    }) %}
    {{ block('container_widget') }}
    {{ form_row(form._token) }}
{% endblock %}

{% block __oro_customer_user_email_form__customer_user_form_fields_email_widget %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
    <div class="form-group">
        <div class="grid">
            <div class="grid-col-6 grid-col-mobile-landscape-12 grid-start-1">
                {{ form_row(form.email, {'attr': {'placeholder': 'oro.customer.form.placeholder.email'|trans}}) }}
            </div>
            {% if form.currentPassword is defined and feature_enabled('customer_user_login_password') %}
                <div class="grid-col-6 grid-col-mobile-landscape-12 grid-start-1">
                    {{ form_row(form.currentPassword, {'attr': {'placeholder': 'oro.customer.form.placeholder.current_password'|trans}, 'parentClass': 'current_password'}) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block __oro_customer_user_email_form__customer_user_form_actions_widget %}
    <div class="form-buttons">
        {{ block_widget(block) }}
    </div>
{% endblock %}
