{# First Level #}
{% block _mega_menu_depth_1_close_widget %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
    {% set attr = layout_attr_defaults(attr, {
        'type': 'button',
        '~class': " close-dialog btn btn--plain btn--text" ~ (class_prefix ? " #{class_prefix}__close"),
        'title': 'Close'|trans,
        'aria-label': 'oro.commercemenu.multi.close.aria_label'|trans,
        'data-role': 'close'
    }) %}

    <button {{ block('block_attributes') }}>{{ renderIcon.icon({name: 'x'}) }}</button>
{% endblock %}

{% block _mega_menu_depth_1_title_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': class_prefix ? " #{class_prefix}__title"
    }) %}

    <h5 {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </h5>
{% endblock %}

{% block _mega_menu_depth_1_title_inner_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'href': oro_commercemenu_get_url(menu_item.uri),
        '~class': class_prefix ? " #{class_prefix}__title-inner"
    }) %}

    <a {{ block('block_attributes') }}>{{- 'oro.commercemenu.frontend.navigation.section_title'|trans({'%section_title%': menu_item.label}) -}}</a>
{% endblock %}
