{% block _top_nav_controls_dropdown_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " customer-menu dropdown hide-block-on-mobile"
    }) %}

    {% if searchType == 'integrated' %}
        {% set attr = layout_attr_defaults(attr, {
            'data-dom-relocation-options': {
                responsive: [
                    {
                        viewport: 'mobile',
                        moveTo: "[data-sidebar-menus-top]",
                        endpointClass: 'navigation-menu__button dropdown-fullscreen'
                    }
                ]
            }
        }) %}
    {% endif %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _top_nav_customer_dropdown_menu_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " customer-menu__dropdown dropdown-menu dropdown-menu-right dropdown-menu-full-width",
        'aria-labelledby': "customer-menu-trigger",
        'role': "menu"
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _top_nav_customer_dropdown_trigger_widget %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " btn btn--outlined-inverse btn--text customer-menu__trigger",
        'type': 'button',
        'data-toggle': 'dropdown',
        'data-placement': "bottom-end",
        'data-popper': 'false',
        'id': 'customer-menu-trigger'
    }) %}

    <button {{ block('block_attributes') }}>
        {{ renderIcon.icon({name: 'user'}) }}
            {{ block_widget(block) }}
        {{ renderIcon.icon({name: 'chevron-down', extraClass: 'customer-menu__dropdown-icon hide-block-on-tablet'}) }}
    </button>
{% endblock %}

{% block _top_nav_user_name_widget%}
    {% set spanClass = 'hide-on-mobile' %}

    {% if searchType == 'integrated' %}
        {% set spanClass = 'hide-label-on-tablet' %}
    {% endif %}

    <span class="{{ spanClass }}">{{ text }}</span>
{% endblock %}

{% block _top_nav_customer_dropdown_sign_out_link_widget %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' dropdown-item dropdown-item--destructive sign-out-link',
        'href': path(route_name)
    }) %}

    <a {{ block('block_attributes') }}>
        {{ renderIcon.icon({name: 'log-out'}) }} <span>{{ text|trans }}</span>
    </a>
{% endblock %}

{% block _top_nav_customer_menu_list_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' customer-menu-list'
    }) %}

    <ul {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </ul>
{% endblock %}

{% block _top_nav_customer_menu_widget %}
    {% set requestUrl = '' %}
    {% if app.request.attributes.get('_route') %}
        {% set requestUrl = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
    {% endif %}

    {% for child in item.children %}
        {% if child.displayed and child.extras.isAllowed %}
            {% set uri = child.uri %}
            {% set label = child.label %}
            {{ block('_top_nav_customer_menu_item_link_widget') }}

            {% if child.children|length %}
                {% set found = false %}
                {% for subChild in child.children %}
                    {% if subChild.displayed and subChild.extras.isAllowed %}
                        {% set uri = subChild.uri %}
                        {% set label = subChild.label %}
                        {% set linkCurrentClass = '' %}
                        {% if uri in requestUrl and not found %}
                            {% set linkCurrentClass = 'dropdown-item--active' %}
                        {% endif %}

                        {{ block('_top_nav_customer_menu_item_link_widget') }}

                        {% if uri in requestUrl and not found %}
                            {% set found = true %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <div class="dropdown-divider"></div>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block _top_nav_customer_menu_item_link_widget %}
    {% if uri == '#' %}
        <span class="dropdown-header">{{- child.label|trans -}}</span>
    {% else %}
        <li class="customer-menu-list__item">
            <a href="{{ uri }}" class="{{ ' dropdown-item text-nowrap ' ~ linkCurrentClass }}">
                {{- label|trans -}}
            </a>
        </li>
    {% endif %}
{% endblock %}
