{% block _top_authorization_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' navigation-menu navigation-menu--inverse'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _top_sign_in_link_widget %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' navigation-menu__inner navigation-menu__link text-nowrap',
        'href': path(route_name)
    }) %}
    <a {{ block('block_attributes') }}>
        {{ renderIcon.icon({name: 'user', extraClass: 'theme-icon--medium'}) }}
        {{ text|trans -}}
    </a>
{% endblock %}

{% block _top_registration_link_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' navigation-menu__inner navigation-menu__link',
        'href': path(route_name)
    }) %}
    <a {{ block('block_attributes') }}>
        {{- text|trans -}}
    </a>
{% endblock %}
