{% block _top_nav_controls_dropdown_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " pull-left topbar-customer-menu dropdown"
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _top_nav_customer_dropdown_menu_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " topbar-customer-menu__dropdown dropdown-menu",
        'aria-labelledby': "topbar-customer-menu-trigger",
        'role': "menu"
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _top_nav_customer_dropdown_trigger_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " topbar-customer-menu__trigger",
        'type': 'button',
        'data-toggle': 'dropdown',
        'id': 'topbar-customer-menu-trigger'
    }) %}

    <button {{ block('block_attributes') }}>
        <span class="topbar-customer-menu__greeting">
            {{ block_widget(block) }}
        </span>
        <span class="fa-angle-down" aria-hidden="true"></span>
    </button>
{% endblock %}

{% block _top_nav_user_name_widget%}
    <span>{{ text }}</span>
{% endblock %}

{% block _top_nav_customer_dropdown_sign_out_link_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' topbar-navigation__link sign-out-link',
        'href': path(route_name),
        'data-dom-relocation-options': {
            responsive: [
                {
                    viewport: 'tablet',
                    moveTo: '[data-customer-menu-container]'
                }
            ]
        }
    }) %}

    <a {{ block('block_attributes') }}>
        <span class="fa-sign-out" aria-hidden="true"></span> {{ text|trans }}
    </a>
{% endblock %}

{% block _top_nav_customer_menu_list_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' topbar-customer-menu-list'
    }) %}

    <ul {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </ul>
{% endblock %}

{% block _top_nav_customer_menu_widget %}
    {% set requestUrl = '' %}
    {% if app.request.attributes.get('_route') %}
        {% set requestUrl = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
    {% endif %}
    {% set found = false %}

    {% for child in item.children %}
        {% if child.displayed and child.extras.isAllowed %}
            {% set currentUrl = child.uri %}
            {% set itemCurrentClass = '' %}
            {% set linkCurrentClass = '' %}
            {% if currentUrl in requestUrl and not found %}
                {% set itemCurrentClass = 'current' %}
                {% set linkCurrentClass = 'current' %}
            {% endif %}

            <li class="topbar-customer-menu-list__item {{ itemCurrentClass }}">
                <a href="{{ child.uri }}" class="{{ ' topbar-customer-menu-list__link ' ~ linkCurrentClass }}">
                    {{- child.label|trans -}}
                </a>
            </li>
            {% if currentUrl in requestUrl and not found %}
                {% set found = true %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}
