{% block _style_book_components_color_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' color-palette-view',
        'data-page-component-module': 'oroui/js/app/components/view-component',
        'data-page-component-options': {
            view: 'orostylebook/js/style-book/style-book-colors-view'
        }
    }) %}

    <div {{ block('block_attributes') }}></div>
{% endblock %}

{% block _style_book_components_custom_font_widget %}
    <pre class="language-markup">
        <code class="style-book-group-element__code language-scss" data-config>
            // You can use a native @import for google fonts
            @import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

            // If you want disable default theme fonts you can reset the variable
            $theme-fonts: ();

            // Enable your local fonts
            $theme-fonts: (
                'main': (
                    'family': 'Lato',
                    'variants': (
                        (
                            'path': '#{$global-url}/orofrontend/default/fonts/lato/lato-regular-webfont',
                            'weight': 400,
                            'style': normal
                        ),
                        (
                            'path': '#{$global-url}/orofrontend/default/fonts/lato/lato-bold-webfont',
                            'weight': 700,
                            'style': normal
                        )
                    ),
                    'formats': ('woff2', 'woff', 'ttf', 'eot', 'svg') // Add only needed formats
                )
            )

            // Font families
            $base-font: get-font-name('main'), 'Helvetica', Arial, sans-serif;
        </code>
    </pre>
{% endblock %}

{% block _style_book_components_headings_widget %}
    {% set sourcePath = sourcePath|default('@OroFrontendBundlePublic/default/scss/variables/headings-config.scss') %}

    {{ parent_block_widget(block) }}
{% endblock %}

{% block _style_book_components_functions_widget %}
    {% set sourcePath = sourcePath|default('@OroUIBundlePublic/default/scss/settings/_functions.scss') %}

    {{ parent_block_widget(block) }}
{% endblock %}

{% block _style_book_components_animation_widget %}
    <div class="btn-toolbar">
        <button class="btn btn--default" data-role="animate" data-animation="fade-in">Fade In</button>
        <button class="btn btn--default" data-role="animate" data-animation="fade-out">Fade Out</button>
        <button class="btn btn--default" data-role="animate" data-animation="fade-in-down">Fade In Down</button>
        <button class="btn btn--default" data-role="animate" data-animation="fade-in-up">Fade In Up</button>
        <button class="btn btn--default" data-role="animate" data-animation="slide-in-down">Slide In Down</button>
        <button class="btn btn--default" data-role="animate" data-animation="slide-in-up">Slide In Up</button>
    </div>
    <div class="style-book-animation" data-role="animate-me"></div>
    <script>
        loadModules(['jquery'], function($) {
            var $animateMe = $('[data-role="animate-me"]');

            $('[data-role="animate"]').on({
                click: function() {
                    $animateMe.addClass($(this).data('animation'));
                }
            });

            $animateMe.on({
                'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend': function() {
                    $(this).removeAttr('class').addClass('style-book-animation');
                }
            });
        });
    </script>
{% endblock %}

{% block _style_book_components_typography_widget %}
    <p class="example-typography base-font">{{ 'oro_stylebook.groups.configs.text_typography_font'|trans }}</p>
    <p class="example-typography base-font-minor">{{ 'oro_stylebook.groups.configs.text_typography_font_minor'|trans }}</p>
    <p class="example-typography base-line-height">{{ 'oro_stylebook.groups.configs.text_typography_line_height'|trans }}</p>
    <br>
    <p class="example-typography base-font-icons">{{ 'oro_stylebook.groups.configs.text_typography_font_icons'|trans }}</p>
    <p class="example-typography base-font-icons">{{ 'oro_stylebook.groups.configs.text_typography_font_icons_custom'|trans }}</p>
    <br>
    <p class="example-typography root-font-size">{{ 'oro_stylebook.groups.configs.text_typography_root'|trans }}</p>
    <p class="example-typography base-font-size--s">{{ 'oro_stylebook.groups.configs.text_typography_base_s'|trans }}</p>
    <p class="example-typography base-font-size">{{ 'oro_stylebook.groups.configs.text_typography_base'|trans }}</p>
    <p class="example-typography base-font-size--large">{{ 'oro_stylebook.groups.configs.text_typography_base_large'|trans }}</p>
    <p class="example-typography base-font-size--m">{{ 'oro_stylebook.groups.configs.text_typography_base_m'|trans }}</p>
    <p class="example-typography base-font-size--l">{{ 'oro_stylebook.groups.configs.text_typography_base_l'|trans }}</p>

{% endblock %}

{% block _style_book_components_sizes_widget %}
    {% set sourcePath = sourcePath|default('@OroUIBundlePublic/default/scss/settings/_sizes.scss') %}
    
    {{ parent_block_widget(block) }}
{% endblock %}

{% block _style_book_scss_mixins_widget %}
    {% set list = list|default([])|merge([
        '@OroFormBundlePublic/default/scss/settings/mixins.scss',
        '@OroUIBundlePublic/default/scss/settings/_mixins.scss',
        '@OroFrontendBundlePublic/default/scss/bootstrap/settings/_mixins.scss'
    ]) %}

    {{ parent_block_widget(block) }}
{% endblock %}
