{% block _style_book_forms_description_widget %}
    <div class="content-section">
        <p class="content-section__text">{{ 'oro_stylebook.groups.grid.text_content'|trans }}</p>
        <p class="content-section__text">{{ 'oro_stylebook.groups.grid.text_content_first'|trans }}</p>
    </div>
{% endblock %}

{% block _style_book_button_element_types_widget %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
    {% set button = 'button-'|uniqid %}
    <button type="button" class="btn">Primary</button>
    <div class="btn-group">
        <button type="button" class="btn">Split dropdown</button>
        <button type="button" id="{{ button }}" data-toggle="dropdown" class="btn dropdown-toggle"
                aria-haspopup="true" aria-expanded="false" aria-label="More actions">{% apply spaceless %}
            {{ renderIcon.icon({name: 'chevron-down'}) }}{% endapply %}</button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="{{ button }}">
            <li><a class="dropdown-item" role="button" href="#">Action A</a></li>
            <li><a class="dropdown-item" role="button" href="#">Action B</a></li>
            <li><a class="dropdown-item" role="button" href="#">Action C</a></li>
        </ul>
    </div>

    <button type="button" class="btn">{% apply spaceless %}
        {{- renderIcon.icon({name: 'settings'}) -}}{% endapply %}</button>
{% endblock %}

{% block _style_book_button_element_variants_widget %}
    <button type="button" class="btn">Primary</button>
    <button type="button" class="btn btn--outlined">Outlined</button>
    <button type="button" class="btn btn--plain">Text</button>
    <button type="button" class="btn btn--flat">No paddings</button>
{% endblock %}

{% block _style_book_button_element_sizes_widget %}
    <button type="button" class="btn btn--size-large">Large</button>
    <button type="button" class="btn">Primary</button>
    <button type="button" class="btn btn--size-small">Small</button>
{% endblock %}

{% block _style_book_button_element_colors_widget %}
    <button type="button" class="btn">Primary</button><br/><br/>
    <button type="button" class="btn btn--destructive">Destructive</button>
    <button type="button" class="btn btn--destructive-outlined">Destructive Outlined</button>
    <button type="button" class="btn btn--destructive-plain">Destructive Text</button>
    <button type="button" class="btn btn--flat btn--destructive-flat">Destructive No paddings</button><br/><br/>
    <div class="style-book-group-element__item--dark">
        <div class="style-book-group-element__preview style-book-group-element__preview--inside-as-last">
            <button type="button" class="btn btn--inverse">Inversed</button>
        </div>
    </div>
{% endblock %}

{% block _style_book_button_disabled_element_widget %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}

    <button type="button" class="btn" disabled>Primary</button>
    <button type="button" class="btn btn--outlined" disabled>Primary Outlined</button>
    <button type="button" class="btn btn--neutral" disabled>{% apply spaceless %}
        {{- renderIcon.icon({name: 'sliders'}) -}}{% endapply %}</button>
{% endblock %}

{% block _style_book_button_inversed_element_widget %}
    {%- import '@OroUI/layouts/renderIcon.html.twig' as renderIcon -%}
    <button type="button" class="btn btn--inverse">Inversed</button>
    <button type="button" class="btn btn--outlined-inverse">Outlined Inversed</button>
    <button type="button" class="btn btn--plain-inverse">Text Inversed</button>
    <button type="button" class="btn btn--flat btn--flat-inverse">Inversed No Padding</button>
    <button type="button" class="btn btn--simple-colored-inverse">{% apply spaceless %}
        {{- renderIcon.icon({name: 'close'}) -}}{% endapply %}</button>
    <button type="button" class="btn btn--plain-inverse">{% apply spaceless %}
        {{- renderIcon.icon({name: 'hamburger-menu'}) -}}{% endapply %}</button>
{% endblock %}

{% block _style_book_button_element_icon_and_text_widget %}
    {%- import '@OroUI/layouts/renderIcon.html.twig' as renderIcon -%}
    <button type="button" class="btn">{% apply spaceless %}{{- renderIcon.icon({name: 'user'}) -}}
        <span>Icon Right Left</span>{{- renderIcon.icon({name: 'chevron-down'}) -}}{% endapply %}</button>
    <button type="button" class="btn btn--outlined">{% apply spaceless %}{{- renderIcon.icon({name: 'user'}) -}}
        <span>Icon Right Left</span>{{- renderIcon.icon({name: 'chevron-down'}) -}}{% endapply %}</button>
    <button type="button" class="btn btn--flat">{% apply spaceless %}{{- renderIcon.icon({name: 'user'}) -}}
            <span>Icon Right Left</span>{{- renderIcon.icon({name: 'chevron-down'}) -}}{% endapply %}</button><br/><br/>
    <button type="button" class="btn">{% apply spaceless %}{{- renderIcon.icon({name: 'user'}) -}}
            <span>Icon Left</span>{% endapply %}</button>
    <button type="button" class="btn btn--outlined">{% apply spaceless %}{{- renderIcon.icon({name: 'user'}) -}}
            <span>Icon Left</span>{% endapply %}</button>
    <button type="button" class="btn btn--flat">{% apply spaceless %}{{- renderIcon.icon({name: 'sliders'}) -}}
            <span>Icon Left</span>{% endapply %}</button><br/><br/>
    <button type="button" class="btn">{% apply spaceless %}
            <span>Icon Right</span>{{- renderIcon.icon({name: 'chevron-down'}) -}}{% endapply %}</button>
    <button type="button" class="btn btn--outlined">{% apply spaceless %}
            <span>Icon Right</span>{{- renderIcon.icon({name: 'chevron-down'}) -}}{% endapply %}</button>
    <button type="button" class="btn btn--flat">{% apply spaceless %}
            <span>Icon Right</span>{{- renderIcon.icon({name: 'chevron-down'}) -}}{% endapply %}</button>
{% endblock %}

{% block _style_book_button_element_group_widget %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
    {% set buttonLarge = 'button-'|uniqid %}
    {% set button = 'button-'|uniqid %}
    {% set buttonSmall = 'button-'|uniqid %}
    <div class="btn-group">
        <button type="button" class="btn btn--size-large">Button Large with a drop-down</button>
        <button type="button" id="{{ buttonLarge }}" data-toggle="dropdown" class="btn btn--size-large dropdown-toggle"
           aria-haspopup="true" aria-expanded="false" aria-label="More actions">{% apply spaceless %}
                {{ renderIcon.icon({name: 'chevron-down', extraClass: 'theme-icon--lg'}) }}{% endapply %}</button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="{{ buttonLarge }}">
            <li><a class="dropdown-item" role="button" href="#">Action A</a></li>
            <li><a class="dropdown-item" role="button" href="#">Action B</a></li>
            <li><a class="dropdown-item" role="button" href="#">Action C</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn">Button with a drop-down</button>
        <button type="button" id="{{ button }}" data-toggle="dropdown" class="btn dropdown-toggle"
           aria-haspopup="true" aria-expanded="false" aria-label="More actions">{% apply spaceless %}
                {{ renderIcon.icon({name: 'chevron-down'}) }}{% endapply %}</button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="{{ button }}">
            <li><a class="dropdown-item" role="button" href="#">Action A</a></li>
            <li><a class="dropdown-item" role="button" href="#">Action B</a></li>
            <li><a class="dropdown-item" role="button" href="#">Action C</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn--size-small">Button Small with a drop-down</button>
        <button type="button" id="buttonSmall" data-toggle="dropdown" class="btn btn--size-small dropdown-toggle"
           aria-haspopup="true" aria-expanded="false" aria-label="More actions">{% apply spaceless %}
            {{ renderIcon.icon({name: 'chevron-down', extraClass: 'theme-icon--small'}) }}{% endapply %}</button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="{{ buttonSmall }}">
            <li><a class="dropdown-item" role="button" href="#">Action A</a></li>
            <li><a class="dropdown-item" role="button" href="#">Action B</a></li>
            <li><a class="dropdown-item" role="button" href="#">Action C</a></li>
        </ul>
    </div>
{% endblock %}

{% block _style_book_icon_buttons_with_bg_widget %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
    <button type="button" class="btn btn--neutral">{% apply spaceless %}
        {{- renderIcon.icon({name: 'sliders'}) -}}{% endapply %}</button>
    <button type="button" class="btn btn--neutral">{% apply spaceless %}
        {{- renderIcon.icon({name: 'bookmark'}) -}}{% endapply %}</button>
    <button type="button" class="btn btn--neutral">{% apply spaceless %}
        {{- renderIcon.icon({name: 'grid'}) -}}{% endapply %}</button>
    <button type="button" class="btn btn--neutral">{% apply spaceless %}
        {{- renderIcon.icon({name: 'refresh'}) -}}{% endapply %}</button>
    <button type="button" class="btn btn--neutral">{% apply spaceless %}
        {{- renderIcon.icon({name: 'more-horizontal', extraClass: 't'}) -}}{% endapply %}</button>
    <button type="button" class="btn btn--neutral btn--circle">{% apply spaceless %}
        {{- renderIcon.icon({name: 'chevron-right'}) -}}{% endapply %}</button><br/><br/>
    <button type="button" class="btn btn--neutral-dark">{% apply spaceless %}
        {{- renderIcon.icon({name: 'chevron-up'}) -}}{% endapply %}</button><br/><br/>
    <button type="button" class="btn">{% apply spaceless %}
        {{- renderIcon.icon({name: 'check'}) -}}{% endapply %}</button>
    <button type="button" class="btn">{% apply spaceless %}
        {{- renderIcon.icon({name: 'shopping-cart'}) -}}{% endapply %}</button><br/><br/>
    <button type="button" class="btn btn--destructive-light">{% apply spaceless %}
        {{- renderIcon.icon({name: 'trash' }) -}}{% endapply %}</button>
{% endblock %}

{% block _style_book_icon_buttons_without_bg_default_widget %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
    <button type="button" class="btn btn--simple">{% apply spaceless %}
        {{- renderIcon.icon({name: 'settings', extraClass: ''}) -}}{% endapply %}</button>
    <button type="button" class="btn btn--simple">{% apply spaceless %}
        {{- renderIcon.icon({name: 'add-note', extraClass: ''}) -}}{% endapply %}</button>
    <button type="button" class="btn btn--simple">{% apply spaceless %}
        {{- renderIcon.icon({name: 'more-horizontal', extraClass: ''}) -}}{% endapply %}</button><br/><br/>
    <button type="button" class="btn btn--simple-destructive">{% apply spaceless %}
        {{- renderIcon.icon({name: 'trash', extraClass: ''}) -}}{% endapply %}</button><br/><br/>
    <div class="style-book-group-element__item--dark">{% apply spaceless %}
        <div class="style-book-group-element__preview style-book-group-element__preview--inside-as-last">
            <button type="button" class="btn btn--plain-inverse">{% apply spaceless %}
                {{- renderIcon.icon({name: 'hamburger-menu', extraClass: ''}) -}}{% endapply %}</button>
        </div>{% endapply %}</div>
{% endblock %}

{% block _style_book_icon_buttons_without_bg_all_states_widget %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
    <button type="button" class="btn btn--simple-colored">{% apply spaceless %}
        {{- renderIcon.icon({name: 'close'}) -}}{% endapply %}</button>
    <button type="button" class="btn btn--simple-colored">{% apply spaceless %}
            {{- renderIcon.icon({name: 'arrow-left'}) -}}{% endapply %}</button><br/><br/>
    <div class="style-book-group-element__item--dark"><div class="style-book-group-element__preview style-book-group-element__preview--inside-as-last">
        <button type="button" class="btn btn--simple-colored-inverse">{% apply spaceless %}
            {{- renderIcon.icon({name: 'close'}) -}}{% endapply %}</button>
        <button type="button" class="btn btn--simple-colored-inverse">{% apply spaceless %}
            {{- renderIcon.icon({name: 'arrow-left'}) -}}{% endapply %}</button>
    </div></div>
{% endblock %}

{% block _style_book_icon_buttons_circle_widget %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
    <button type="button" class="btn btn--neutral btn--circle">{% apply spaceless %}
        {{- renderIcon.icon({name: 'chevron-right'}) -}}{% endapply %}</button>
    <button type="button" class="btn btn--neutral-dark btn--circle">{% apply spaceless %}
        {{- renderIcon.icon({name: 'chevron-up'}) -}}{% endapply %}</button>
{% endblock %}
