{% block _style_book_forms_description_widget %}
    <div class="content-section">
        <p class="content-section__text">{{ 'oro_stylebook.groups.grid.text_content'|trans }}</p>
        <p class="content-section__text">{{ 'oro_stylebook.groups.grid.text_content_first'|trans }}</p>
    </div>
{% endblock %}

{% block _style_book_button_element_widget %}
    <button type="button" class="btn">Default Button</button>
    <button type="button" class="btn btn--destructive">Destructive Button</button>
    <button type="button" class="btn btn--outlined">Primary Outlined Button</button>
    <button type="button" class="btn btn--destructive-outlined">Destructive Outlined Button</button>
{% endblock %}

{% block _style_book_button_disabled_element_widget %}
    <button type="button" class="btn" disabled>Default Button</button>
    <button type="button" class="btn btn--destructive" disabled>Destructive Button</button>
    <button type="button" class="btn btn--outlined" disabled>Primary Outlined Button</button>
    <button type="button" class="btn btn--destructive-outlined" disabled>Destructive Outlined Button</button>
{% endblock %}

{% block _style_book_button_inversed_element_widget %}
    <button type="button" class="btn btn--inverse">Inverse Button</button>
    <button type="button" class="btn btn--outlined-inverse">Outlined Inversed Button</button>
    <button type="button" class="btn btn--outlined-inverse btn--text">Inversed Text Button</button>
    <button type="button" class="btn btn--outlined-inverse btn--text btn--no-padding">Inversed No Padding Button</button>
{% endblock %}

{% block _style_book_button_element_text_widget %}
    <button type="button" class="btn btn--text">Default Button</button>
    <button type="button" class="btn btn--destructive btn--text">Destructive Button</button>
    <button type="button" class="btn btn--outlined btn--text">Primary Outlined Button</button>
    <button type="button" class="btn btn--destructive-outlined btn--text">Destructive Outlined Button</button>
{% endblock %}

{% block _style_book_button_element_nopadding_widget %}
    <button type="button" class="btn btn--text btn--no-padding">Default Button</button>
    <button type="button" class="btn btn--destructive btn--text btn--no-padding">Destructive Button</button>
    <button type="button" class="btn btn--outlined btn--text btn--no-padding">Primary Outlined Button</button>
    <button type="button" class="btn btn--destructive-outlined btn--text btn--no-padding">Destructive Outlined Button</button>
{% endblock %}

{% block _style_book_button_element_sizes_widget %}
    <button type="button" class="btn btn--size-large">Large Button</button>
    <button type="button" class="btn">Default Button</button>
    <button type="button" class="btn btn--size-small">Small Button</button>
{% endblock %}

{% block _style_book_button_element_icon_text_widget %}
    {%- import '@OroFrontend/layouts/renderIcon.html.twig' as renderIcon -%}
    <button type="button" class="btn">
        {{- renderIcon.icon({id: 'user'}) -}}
        <span>Default Button</span>
        {{- renderIcon.icon({id: 'chevron-down'}) -}}
    </button>
    <button type="button" class="btn btn--outlined">
        {{- renderIcon.icon({id: 'user'}) -}}
        <span>Default Button</span>
        {{- renderIcon.icon({id: 'chevron-down'}) -}}
    </button>
    <button type="button" class="btn btn--destructive">
        {{- renderIcon.icon({id: 'user'}) -}}
        <span>Default Button</span>
        {{- renderIcon.icon({id: 'chevron-down'}) -}}
    </button>
    <button type="button" class="btn btn--destructive-outlined">
        {{- renderIcon.icon({id: 'user'}) -}}
        <span>Default Button</span>
        {{- renderIcon.icon({id: 'chevron-down'}) -}}
    </button>
{% endblock %}

{% block _style_book_button_element_icon_widget %}
    {%- import '@OroFrontend/layouts/renderIcon.html.twig' as renderIcon -%}
    <button type="button" class="btn btn--text">
        {{- renderIcon.icon({id: 'settings', extraClass: 'theme-icon--medium'}) -}}
    </button>
    <button type="button" class="btn btn--outlined btn--text">
        {{- renderIcon.icon({id: 'settings', extraClass: 'theme-icon--medium'}) -}}
    </button>
    <button type="button" class="btn btn--destructive btn--text">
        {{- renderIcon.icon({id: 'settings', extraClass: 'theme-icon--medium'}) -}}
    </button>
    <button type="button" class="btn btn--destructive-outlined btn--text">
        {{- renderIcon.icon({id: 'settings', extraClass: 'theme-icon--medium'}) -}}
    </button>
{% endblock %}

{% block _style_book_button_element_inline_group_widget %}
    {% import '@OroFrontend/layouts/renderIcon.html.twig' as renderIcon %}

    <div class="btn-group">
        <button type="button" class="btn" aria-label="Expand or Collapse Grid Filters">
            {{ renderIcon.icon({id: 'sliders', extraClass: 'theme-icon--medium'}) }}
        </button>
        <button type="button" class="btn" aria-label="Refresh grid action">
            {{ renderIcon.icon({id: 'refresh', extraClass: 'theme-icon--medium'}) }}
        </button>
        <button type="button" class="btn" aria-label="Reset grid action">
            {{ renderIcon.icon({id: 'reset', extraClass: 'theme-icon--medium'}) }}
        </button>
    </div>
{% endblock %}

{% block _style_book_button_element_group_widget %}
    <div class="btn-group">
        <button type="button" class="btn btn--size-large">Button Large with a drop-down</button>
        <button type="button" id="button-element-group-widget1" data-toggle="dropdown" class="btn btn--size-large dropdown-toggle"
           aria-haspopup="true" aria-expanded="false" aria-label="More actions">
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="button-element-group-widget1">
            <li><a class="dropdown-item" role="button" href="#">Action A</a></li>
            <li><a class="dropdown-item" role="button" href="#">Action B</a></li>
            <li><a class="dropdown-item" role="button" href="#">Action C</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn">Button with a drop-down</button>
        <button type="button" id="button-element-group-widget2" data-toggle="dropdown" class="btn dropdown-toggle"
           aria-haspopup="true" aria-expanded="false" aria-label="More actions">
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="button-element-group-widget2">
            <li><a class="dropdown-item" role="button" href="#">Action A</a></li>
            <li><a class="dropdown-item" role="button" href="#">Action B</a></li>
            <li><a class="dropdown-item" role="button" href="#">Action C</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn--size-small">Button Small with a drop-down</button>
        <button type="button" id="button-element-group-widget3" data-toggle="dropdown" class="btn btn--size-small dropdown-toggle"
           aria-haspopup="true" aria-expanded="false" aria-label="More actions">
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="button-element-group-widget3">
            <li><a class="dropdown-item" role="button" href="#">Action A</a></li>
            <li><a class="dropdown-item" role="button" href="#">Action B</a></li>
            <li><a class="dropdown-item" role="button" href="#">Action C</a></li>
        </ul>
    </div>
{% endblock %}

{% block _style_book_button_element_btn_group_widget %}
    <div class="btn-group" role="group">
        <button type="button" class="btn">Left</button>
        <button type="button" class="btn">Middle</button>
        <button type="button" class="btn">Right</button>
    </div>
{% endblock %}
