{% block _style_book_grid_element_grid_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' grid'
    }) %}

    <div {{ block('block_attributes') }}>
        <div class="grid__row">
            <div class="grid__column grid__column--1">grid__column--1</div>
            <div class="grid__column grid__column--1">grid__column--1</div>
            <div class="grid__column grid__column--1">grid__column--1</div>
            <div class="grid__column grid__column--1">grid__column--1</div>
            <div class="grid__column grid__column--1">grid__column--1</div>
            <div class="grid__column grid__column--1">grid__column--1</div>
            <div class="grid__column grid__column--1">grid__column--1</div>
            <div class="grid__column grid__column--1">grid__column--1</div>
            <div class="grid__column grid__column--1">grid__column--1</div>
            <div class="grid__column grid__column--1">grid__column--1</div>
            <div class="grid__column grid__column--1">grid__column--1</div>
            <div class="grid__column grid__column--1">grid__column--1</div>
        </div>
        <div class="grid__row">
            <div class="grid__column grid__column--3">grid__column--3</div>
            <div class="grid__column grid__column--9">grid__column--9</div>
        </div>
        <div class="grid__row">
            <div class="grid__column grid__column--4">grid__column--4</div>
            <div class="grid__column grid__column--4">grid__column--4</div>
            <div class="grid__column grid__column--4">grid__column--4</div>
        </div>
        <div class="grid__row">
            <div class="grid__column grid__column--12">grid__column--12</div>
        </div>
    </div>
{% endblock %}

{% block _style_book_grid_element_offset_row_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' grid'
    }) %}

    <div {{ block('block_attributes') }}>
        <div class="grid__row grid__row--has-twin-row">
            <div class="grid__column grid__column--6">grid__row--has-twin-row</div>
            <div class="grid__column grid__column--6">grid__row--has-twin-row</div>
        </div>
        <div class="grid__row grid__row--offset-l">
            <div class="grid__column grid__column--6">grid__row--offset-l (default theme)</div>
            <div class="grid__column grid__column--6">grid__row--offset-l (default theme)</div>
        </div>
        <div class="grid__row">
            <div class="grid__column grid__column--6">grid__row</div>
            <div class="grid__column grid__column--6">grid__row</div>
        </div>
        <div class="grid__row grid__row--offset-m">
            <div class="grid__column grid__column--6">grid__row--offset-m</div>
            <div class="grid__column grid__column--6">grid__row--offset-m</div>
        </div>
        <div class="grid__row grid__row--offset-s">
            <div class="grid__column grid__column--6">grid__row--offset-s</div>
            <div class="grid__column grid__column--6">grid__row--offset-s</div>
        </div>
        <div class="grid__row grid__row--offset-none">
            <div class="grid__column grid__column--6">grid__row--offset-none</div>
            <div class="grid__column grid__column--6">grid__row--offset-none</div>
        </div>
        <div class="grid__row">
            <div class="grid__column grid__column--6">grid__row</div>
            <div class="grid__column grid__column--6">grid__row</div>
        </div>
    </div>
{% endblock %}

{% block _style_book_grid_element_offset_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' grid'
    }) %}

    <div {{ block('block_attributes') }}>
        <div class="grid__row">
            <div class="grid__column grid__column--3 grid__column--offset-m">grid__column--3 grid__column--offset-m</div>
            <div class="grid__column grid__column--3 grid__column--offset-m">grid__column--3 grid__column--offset-m</div>
            <div class="grid__column grid__column--3">grid__column--3</div>
        </div>
    </div>
{% endblock %}

{% block _style_book_grid_element_offset_bottom_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' grid'
    }) %}

    <div {{ block('block_attributes') }}>
        <div class="grid__row">
            <div class="grid__column grid__column--6 grid__column--offset-y">grid__column--6 grid__column--offset-y</div>
            <div class="grid__column grid__column--6 grid__column--offset-y">grid__column--6 grid__column--offset-y</div>
            <div class="grid__column grid__column--6 grid__column--offset-y">grid__column--6 grid__column--offset-y</div>
            <div class="grid__column grid__column--6 grid__column--offset-y">grid__column--6 grid__column--offset-y</div>
            <div class="grid__column grid__column--6 grid__column--offset-y">grid__column--6 grid__column--offset-y</div>
            <div class="grid__column grid__column--6 grid__column--offset-y">grid__column--6 grid__column--offset-y</div>
        </div>
    </div>
{% endblock %}

{% block _style_book_grid_element_half_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' grid'
    }) %}

    <div {{ block('block_attributes') }}>
        <div class="grid__row">
            <div class="grid__column grid__column-half">grid__column-half</div>
            <div class="grid__column grid__column-half">grid__column-half</div>
        </div>
    </div>
{% endblock %}

{% block _style_book_grid_element_clear_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid'
    }) %}

    <div {{ block('block_attributes') }}>
        <div class="grid__row">
            <div class="grid__column grid__column--3">grid__column--3</div>
            <div class="grid__column grid__column--3">grid__column--3</div>
            <div class="grid__column grid__column--3 grid__column--both">grid__column--3 grid__column--both</div>
            <div class="grid__column grid__column--3">grid__column--3</div>
        </div>
    </div>
{% endblock %}
