{% block _style_book_icons_grid_widget %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
    <div class="tiles" style="--tiles-column-count: 7; --tiles-column-gap: 12px; --tiles-row-gap: 12px;"
         data-page-component-view="orostylebook/js/style-book/style-book-icons-grid-view"
         data-page-component-options="{{ {
             'svgUrl': renderIcon.getThemeSpriteUrl()|trim
         }|json_encode }}"
    ></div>
{% endblock %}

{% block _group_element_item_usage_examples_grid_widget %}
    <div class="tiles" style="--tiles-column-count: 1; --tiles-column-gap: 12px; --tiles-row-gap: 12px;">
        <div class="tiles-item">
            <h3 class="style-book-group-element__title">{{ "oro_stylebook.groups.icons.twig"|trans }}</h3>
            <pre>
                <code class="language-markup">
                    {{ "{% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}" }}
                    {{ "{{ renderIcon.icon({name: 'add-note'}) }}" }}
                </code>
            </pre>
        </div>
        <div class="tiles-item">
            <h3 class="style-book-group-element__title">{{ "oro_stylebook.groups.icons.html"|trans }}</h3>
            <pre>
                <code class="language-markup">
                    <% let oroui = _.macros('oroui') %>
                    <%= oroui.renderIcon({
                        name: 'add-note'
                    }) %>
                </code>
            </pre>
        </div>
        <div class="tiles-item">
            <h3 class="style-book-group-element__title">{{ "oro_stylebook.groups.icons.js"|trans }}</h3>
            <pre>
                <code class="language-js">
                    import _ from 'underscore';

                     const icon = _.macros('oroui::renderIcon')({
                        name: 'add-note'
                    });
                </code>
            </pre>
        </div>
    </div>
{% endblock %}
