{% block block_attributes_underscore %}
    {% import '@OroFrontend/layouts/default/utils.html.twig' as utils %}
    {{ utils.underscoreRaw(block('block_attributes_base')) }}
{%- endblock %}

{#Action Buttons#}
{% block action_line_buttons_widget %}
    <ul{{ block('block_attributes') }}>
        {% for action in actions %}
            <li>
                <a>
                    {% if action.icon is not empty %}
                        <i class="{{ action.icon }} {{ action.buttonOptions.iCss|default('') }}"></i>
                    {% endif %}
                    {{ action.label|trim }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block action_combined_buttons_widget %}
    {% set actionsCount = actions|length %}
    {% if actionsCount > 0 %}
        {% set hasVariants = actionsCount > 1 %}
        {% set additionalCss = "btn" %}
        {% if block.parent.vars.class_prefix == 'datagrid_toolbar_button_container' %}
            {% set additionalCss = additionalCss ~ " btn--info " %}
        {% else %}
            {% set additionalCss = additionalCss ~ " btn" %}
        {% endif %}
        {% if hasVariants %}
            {% set additionalCss = " btn-group btn-group--block" %}
        {% endif %}
        {% set attr = attr|merge({ class: attr.class|default('') ~ additionalCss}) %}

        {% set action = actions|first %}
        {% set primaryButtonCss = ' btn btn--action btn--size-s direct-link ' ~ action.buttonOptions.class|default('') ~ " "  ~ params.buttonOptions.aCss|default('') %}

        {% if hasVariants %}
            <div{{ block('block_attributes') }}>
                <a class="btn btn--info btn--size-l">
                    {{ action.label|trim }}
                </a>
                {% set togglerId = 'dropdown-'|uniqid %}
                <a class="btn btn--info btn--size-l dropdown-toggle" href="#" role="button" id="{{ togglerId }}"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                   aria-label="{{ 'oro_frontend.combined_buttons.more_actions.label'|trans }}"></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="{{ togglerId }}">
                    {% for action in actions|slice(1) %}
                    <li>
                        <a class="dropdown-item">
                            {{ action.label|trim }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <a>
                {{ action.label|trim }}
            </a>
        {% endif %}

    {% endif %}
{% endblock %}

{#Buttons#}
{% block line_buttons_widget %}
    <ul{{ block('block_attributes') }}>
        {% for button in buttons %}
            <li>
                {% include button.template with button.templateData|merge({onlyLink: true, noIconText: true, aClass:'btn btn--link'}) %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block combined_buttons_widget %}
    {% set dropdownActionClass = dropdownActionClass|default('btn btn--block btn--info btn--size-l direct-link') %}
    {% set dropdownToggleClass = dropdownToggleClass|default('btn btn--info btn--size-l dropdown-toggle') %}
    {% set dropdownItemClass = dropdownItemClass|default('dropdown-item') %}
    {% set actionButtonClass = actionButtonClass|default('btn btn--action btn--size-s direct-link') %}

    {% set buttonsCount = buttons|length %}
    {% if buttonsCount > 0 %}
        {% set hasVariants = buttonsCount > 1 %}

        {% set button = buttons|first %}

        {% if hasVariants %}
            {% set additionalCss = "btn" %}
            {% if block.parent.vars.class_prefix == 'datagrid_toolbar_button_container' %}
                {% set additionalCss = additionalCss ~ " btn--info " %}
            {% endif %}
            {% if hasVariants %}
                {% set additionalCss = " btn-group btn-group--flex " %}
            {% endif %}
            {% set attr = attr|merge({ class: attr.class|default('') ~ additionalCss}) %}

            <div{{ block('block_attributes') }}>
                {% include button.template with button.templateData|merge({onlyLink: true, aClass: dropdownActionClass, noIcon: true, noIconText: true}) %}
                {% set togglerId = 'dropdown-'|uniqid %}
                <button id="{{ togglerId }}" class="{{ dropdownToggleClass }}" data-toggle="dropdown"
                   data-placement="bottom-end" data-inherit-parent-width="strictly" aria-haspopup="true" aria-expanded="true"
                   title="{{ 'oro_frontend.combined_buttons.more_actions.label'|trans }}"
                   aria-label="{{ 'oro_frontend.combined_buttons.more_actions.aria_label'|trans }}"></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="{{ togglerId }}">
                    {% for button in buttons|slice(1) %}
                        <li>
                            {% include button.template with button.templateData|merge({onlyLink: true, role: 'menuitem', aClass: dropdownItemClass, noIcon: true, noIconText: true}) %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            {% include button.template with button.templateData|merge({onlyLink: true, aClass: actionButtonClass, noIcon: true, noIconText: true}) %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block icon_block -%}
    <span class="fa-{{ icon }}{% if icon_class is defined %} {{ icon_class }}{% endif %}" aria-hidden="true"></span>
{%- endblock %}

{% block back_link_widget %}
    <div class="order-builder-clear-btn">
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block embedded_list_widget %}
    <div class="embedded-list">
        {% if use_slider %}
            {% set attr = layout_attr_defaults(attr, {
                'data-page-component-module': 'orofrontend/js/app/components/list-slider-component',
                '~data-page-component-options': slider_options,
                '~class': ' embedded-list__slider'
            }) %}

            {% set item_attr = layout_attr_defaults(item_attr|default({}), {
                '~class': ' embedded-list__item ' ~ item_extra_class,
                'data-name': 'embedded-list-item'
            }) %}
        {% else %}
            {% set attr = layout_attr_defaults(attr, {
                'data-page-component-module': 'orofrontend/js/app/components/embedded-list-component',
                '~class': ' tiles embedded-list__tiles '
            }) %}

            {% set item_attr = layout_attr_defaults(item_attr|default({}), {
                '~class': ' tiles-item ' ~ item_extra_class,
                'data-name': 'embedded-list-item'
            }) %}
        {% endif %}

        {% if label is defined %}
            <h2 class="embedded-list__label">
                <span class="embedded-list__label-inner">{{ label|trans }}</span>
            </h2>
        {% endif %}

        <div {{ block('block_attributes') }}>
            {% set attr = item_attr %}
            {% for item in items %}
                <div {{ block('block_attributes') }}>
                    {% set context = {
                        (item_key): item
                    } %}
                    {% for dataKey, dataValue in items_data %}
                        {% set context = context|merge({
                            (dataKey): dataValue[item.id]|default(null)
                        }) %}
                    {% endfor %}
                    {% do block|merge_context(context) %}
                    {{ block('container_widget') }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block attribute_file_widget %}
    {{ oro_file_view(value) }}
{% endblock %}

{% block _switcher_info_trigger_widget %}
    {% set items = items|default([]) %}

    {% set itemsCount = 0 %}
    {% set btnIcon = 'fa-globe' %}
    {% set popupLabel = '' %}

    {% for key, item in items %}
        {% if item|length > 1 %}
            {% set itemsCount = itemsCount + 1 %}

            {% if key == 'localizations' %}
                {% set popupLabel = 'oro_frontend.switcher.info.popup.localizations'|trans %}
            {% endif %}

            {% if key == 'currency' %}
                {% set btnIcon = 'fa-usd' %}
                {% set popupLabel = 'oro_frontend.switcher.info.popup.currency'|trans %}
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if itemsCount > 1 %}
        {% set btnIcon = 'fa-globe' %}
        {% set popupLabel = 'oro_frontend.switcher.info.popup.localizations_and_currency'|trans %}
    {% endif %}

    {% if itemsCount %}
        <div class="header-row__container hidden-on-desktop">
            <button class="header-row__trigger hidden-on-desktop"
                    aria-label="{{ popupLabel }}"
                    type="button"
                    data-page-component-module="oroui/js/app/components/viewport-component"
                    data-page-component-options="{{ {
                        viewport: 'tablet',
                        component: 'oroui/js/app/components/view-component',
                        view: 'orofrontend/default/js/app/views/fullscreen-popup-view',
                        popupIcon: btnIcon ~ ' fa--gray fa--x-large',
                        popupLabel: popupLabel,
                        contentElement: '[data-switcher-info-container]',
                        contentAttributes: {
                            'class': 'switcher-info__container oro-toolbar fullscreen-mode'
                        }
                    }|json_encode() }}"
            >
                <span class="nav-trigger__icon nav-trigger__icon--transparent nav-trigger__icon--large" aria-hidden="true">
                    <span class="{{ btnIcon }} fa--no-offset"></span>
                </span>
            </button>
            <div class="switcher-info__container" data-switcher-info-container>
                {% for key, item in items %}
                    {% if item|length > 1 %}
                        <div class="switcher-info__section">
                            {% if itemsCount > 1 %}
                                <div class="switcher-info__title">{{ ('oro_frontend.switcher.info.' ~ key)|trans }}</div>
                            {% endif %}
                            <div class="switcher-info__target" data-switcher-{{ key }}-target></div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
