{% block _footer_menu_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' information-nav__list'
    }) %}
    {% set child_attr = layout_attr_defaults(child_attr, {
        '~class': ' information-nav__item'
    }) %}
    {% set link_attr = layout_attr_defaults(link_attr, {
        '~class': ' information-nav__item-content'
    }) %}

    {% set collapseView =  layout_attr_defaults(attr, {
        viewport: {
            maxScreenType: 'tablet-small',
        },
        component: 'oroui/js/app/components/jquery-widget-component',
        widgetModule: 'oroui/js/widget/collapse-widget',
        trigger: '[data-collapse-trigger-footer]',
        container: '[data-collapse-container-footer]',
        open: false
    }) %}

    {% if item.displayed and item.extras.isAllowed %}
        {% apply spaceless %}
            {% for child in item.children %}
                {% if child.displayed and child.extras.isAllowed %}
                    <section class="information-nav information-nav--responsive">
                        <div class="collapse-view"
                            data-page-component-module="oroui/js/app/components/viewport-component"
                            data-page-component-options="{{ collapseView|json_encode }}">
                            {% set label = child.extras.custom is defined and child.extras.custom == true ? child.label : child.label|trans %}
                            {% set footerSectionId = 'footer-section-panel'|uniqid %}
                            <h6 class="information-nav__title"
                                data-collapse-trigger-footer aria-controls="{{ footerSectionId }}">
                                <span class="information-nav__icon collapse-view__trigger-icon fa-caret-right" aria-hidden="true"></span>
                                {{- label -}}
                            </h6>
                            <div id="{{ footerSectionId }}" data-collapse-container-footer="true">
                                {% set item = child %}
                                {{ block('menu_widget') }}
                            </div>
                        </div>
                    </section>
                {% endif %}
            {% endfor %}
        {% endapply %}
    {% endif %}
{% endblock %}
