{% block _header_row_shopping_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " header-row__container shopping-list-widget"
    }) %}
    {% do block|merge_context({'togglerId': 'dropdown-'|uniqid }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _header_row_shopping_trigger_widget %}
    {% set ariaLabel = is_one_shopping_list_enabled()
        ? 'oro.frontend.shoppinglist.trigger.single_aria_label'|trans
        : 'oro.frontend.shoppinglist.trigger.aria_label'|trans({'%count%': shoppingLists|length})
    %}
    {% set options = {
        blockId: id,
        reloadEvents: ['shopping-list:refresh', 'frontend:shopping-list-item-quantity:update', 'frontend:item:delete'],
        keepAttrs: ['aria-label']
    } %}
    <button{% if togglerId is defined %} id="{{ togglerId }}"{% endif %}
        type="button"
        class="header-row__trigger nav-trigger"
        data-toggle="dropdown"
        data-popper="false"
        aria-haspopup="true" aria-expanded="false"
        aria-label="{{ ariaLabel }}"
        data-page-component-view="oroui/js/app/views/layout-subtree-view"
        data-page-component-options="{{ options|json_encode }}">
        {{ block_widget(block) }}
    </button>
{% endblock %}
