{% block _header_row_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-sticky-target': 'top-sticky-panel',
        '~data-sticky': {
            isSticky: true,
            autoWidth: true,
            toggleClass: 'header-row--fixed slide-in-down',
            placeholderId: 'sticky-header-row',
            viewport: {
                maxScreenType: 'tablet',
            },
        },
        '~class': (blocks.header_row.children|length > 2 ? ' header-row--from-left')
    }) %}

    <div class="page-area-container">
        {{ parent_block_widget(block, {attr: attr}) }}
    </div>
{% endblock %}

{% block _header_row_main_menu_widget %}
    <div class="header-row__container header-row__container--unstack">
        <button class="header-row__trigger hidden-on-desktop"
                type="button"
                aria-label="{{ 'oro.commercemenu.menuupdate.menu.label'|trans }}"
                data-page-component-module="oroui/js/app/components/viewport-component"
                data-page-component-options="{{ {
                    viewport: {
                        maxScreenType: 'tablet'
                    },
                    component: 'oroui/js/app/components/view-component',
                    view: 'orofrontend/default/js/app/views/fullscreen-popup-view',
                    contentElement: '[data-main-menu-extra-container]',
                    popupLabel: 'oro_frontend.fullscreen_popup.menu.label'|trans,
                    popupIcon: 'fa-navicon fa--gray fa--x-large',
                    contentAttributes: {
                        'class': 'fullscreen-mode'
                    }
                }|json_encode() }}"
        >
            <span class="nav-trigger__icon nav-trigger__icon--transparent nav-trigger__icon--large" aria-hidden="true">
                <span class="fa-navicon fa--no-offset"></span>
            </span>
        </button>
        <div class="header-row__toggle">
            <div class="header-row__dropdown" data-main-menu-container>
                {{ block_widget(block) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block _main_menu_container_widget %}
    {% set attr =  layout_attr_defaults(attr, {
        '~class': ' main-menu-outer',
        'data-page-component-module': 'oroui/js/app/components/viewport-component',
        'data-page-component-options': {
            viewport: {
                maxScreenType: 'tablet',
            },
            component: 'oroui/js/app/components/view-component',
            view: 'orocommercemenu/js/app/widgets/menu-traveling-widget'
         },
        'data-dom-relocation-options': {
            responsive: [
                {
                    viewport: {
                        maxScreenType: 'tablet',
                    },
                    moveTo: '[data-main-menu-extra-container]'
                }
            ]
        }
    }) %}

    <div {{ block('block_attributes') }}>
        <button class="main-menu__back-trigger" data-go-to="prev" type="button">
            <span class="fa-chevron-left" aria-hidden="true"></span>
            {{ 'oro_frontend.fullscreen_popup.back.label'|trans }}
        </button>
        <div class=" main-menu-outer__container"
             data-page-component-module="oroui/js/app/components/view-component"
             data-page-component-options="{{ {view: 'oronavigation/js/app/views/navigation-menu-view'}|json_encode }}"
        >
            {{ block_widget(block) }}
        </div>
    </div>
{% endblock %}

{% block _main_menu_list_widget %}
    {% set attr =  layout_attr_defaults(attr, {
        '~class': 'main-menu',
        'role': 'menu'
    }) %}
    <ul {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </ul>
{% endblock %}

{% block _main_menu_widget %}
    {% import '@OroNavigation/Menu/menu.html.twig' as oro_menu %}
    {% if item.displayed and item.extras.isAllowed %}
        {% apply spaceless %}
            {% for child in item.children -%}
                {% if child.displayed and child.extras.isAllowed %}
                    <li class="main-menu__item">
                        {% set linkAttributes = child.linkAttributes|merge({
                            'class': 'main-menu__link',
                            'role': 'menuitem'
                        }) %}
                        <a href="{{ oro_commercemenu_get_url(child.uri) }}"{{ oro_menu.attributes(linkAttributes) }}>
                            {% set label = child.extras.custom is defined and child.extras.custom == true ? child.label : child.label|trans %}
                            <span class="main-menu__text">{{ label }}</span>
                        </a>
                    </li>
                {% endif %}
            {%- endfor %}
        {% endapply %}
    {% endif %}
{% endblock %}
