{% block _header_row_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'oroui/js/app/components/view-component',
        'data-page-component-options': {view: 'orocommercemenu/js/app/views/header-row-view'},
        '~class': 'header-row' ~ (blocks.header_row.children|length > 2 ? ' header-row--from-left')
    }) %}

    <div class="page-area-container page-header__inner page-header__inner--standalone-menu hide-on-tablet">
        <div {{ block('block_attributes') }}>
            {{ block_widget(block) }}
        </div>
    </div>
{% endblock %}

{% block _main_menu_extra_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' main-menu__extra-container sidebar-main-menu__container hide-on-empty',
        'data-sidebar-menus-middle': '',
        'data-role': 'sub-menu'
    }) %}

    <div {{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block _menus_sidebar_container_widget %}
    {% set attr =  layout_attr_defaults(attr, {
        'data-menus-container': '',
        '~class': 'hidden'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _menus_footer_sidebar_container_widget %}
    {% set attr =  layout_attr_defaults(attr, {
        'data-menus-footer-container': '',
        '~class': 'hidden'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _menus_sidebar_top_widget %}
    {% set attr =  layout_attr_defaults(attr, {
        '~class': 'sidebar-main-menu__container sidebar-main-menu__top hide-on-empty',
        'data-sidebar-menus-top': '',
        'data-role': 'sub-menu'
    }) %}

    <div {{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block _menus_sidebar_bottom_widget %}
    {% set attr =  layout_attr_defaults(attr, {
        '~class': 'sidebar-main-menu__container sidebar-main-menu__bottom hide-on-empty',
        'data-sidebar-menus-bottom': '',
        'data-role': 'sub-menu'
    }) %}

    <div {{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block _main_menu_trigger_widget %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}

    {% set attr =  layout_attr_defaults(attr, {
        'type': 'button',
        '~class': ' btn btn--plain-inverse main-menu-trigger',
        'aria-label': 'oro.commercemenu.menuupdate.menu.label'|trans,
        'data-page-component-module': 'oroui/js/app/components/viewport-component',
        'data-page-component-options': {
            viewport: block.vars.standaloneMainMenu ? 'tablet' : 'all',
            component: 'oroui/js/app/components/view-component',
            view: 'orocommercemenu/js/app/views/side-panel',
            contentElement: '[data-menus-container]',
            footerElement: '[data-menus-footer-container]',
            popupName: 'main-fullscreen-side-panel',
            popupLabel: 'oro_frontend.fullscreen_popup.menu.label'|trans,
            popupIcon: 'hamburger-menu',
            headerOptions: {
                templateData: {
                    logoSrc: logoSrc|default(asset('bundles/orofrontend/default/images/logo/demob2b-logo-small.svg'))
                }
            },
            disableBodyTouchScroll: false,
            dialogClass: 'sidebar-main-menu fullscreen-popup--transition fullscreen-popup--align-left',
            contentAttributes: {
                'class': 'main-menu-stack-mode fullscreen-mode'
            },
            footerAttributes: {
                'class': ' side-panel-footer-container'
            }
        }
    }) %}

    {%- if block.vars.standaloneMainMenu -%}
        {% set attr = layout_attr_defaults(attr, {
            '~class': ' main-menu-standalone'
        }) %}
    {%- endif -%}

    <button {{ block('block_attributes') }}>
        {{- renderIcon.icon({name: 'hamburger-menu', extraClass: 'theme-icon--lg'}) -}}
    </button>
{% endblock %}

{% block _main_menu_container_widget %}
    {% set hoverPriority = hoverPriority|default(false) %}
    {% set extraClass = oro_theme_configuration_value('header__standalone_main_menu') ? ' main-menu-standalone-mode' : '' %}
    {% set attr =  layout_attr_defaults(attr, {
        '~class': " main-menu-outer#{hoverPriority ? ' is-hoverable'}" ~ extraClass,
        'data-page-component-view': {
            view: 'orocommercemenu/js/app/views/menu-traveling-view',
            hoverPriority: hoverPriority
        }
    }) %}

    {% if oro_theme_configuration_value('header__standalone_main_menu') %}
        {% set attr =  layout_attr_defaults(attr, {
            'data-dom-relocation-options': {
                responsive: [
                    {
                        viewport: 'tablet',
                        moveTo: '[data-sidebar-menus-middle]',
                        startPointClass: extraClass
                    }
                ]
            }
        }) %}
    {% endif %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _main_menu_back_trigger_widget %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}

    {% set attr = layout_attr_defaults(attr, {
        '~class': ' btn btn--simple-colored main-menu__back-trigger',
        'type': 'button',
        'data-go-to': 'prev',
        'aria-label': 'oro_frontend.fullscreen_popup.back.label'|trans
    }) %}

    <button {{ block('block_attributes') }}>
        {{ renderIcon.icon({name: 'chevron-left', extraClass: 'theme-icon--lg'}) }}
    </button>
{% endblock %}

{% block _main_menu_outer_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' main-menu-outer__container',
        'data-page-component-module': 'orocommercemenu/default/js/components/navigation-menu-component',
        'data-page-component-options': {
            listenToDOMEvents: ['main-fullscreen-side-panel:shown'],
            viewOptions: {
                listenToMouseEvents: false
            }
         }|json_encode
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _main_menu_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': 'main-menu',
        'role': 'menu'
    }) %}

    {% set child_attr = layout_attr_defaults(child_attr, {
        '~class': 'main-menu__item',
        'role': 'presentation'
    }) %}

    {% set link_attr = layout_attr_defaults(link_attr, {
        '~class': 'main-menu__link',
        'role': 'menuitem'
    }) %}

    {% set firstClass = null %}
    {% set lastClass = null %}
    {% set customItemBlock = customItemBlock|default('_main_menu_root_item') %}

    {{ parent_block_widget(block) }}
{% endblock %}

{% block _main_menu_root_item %}
    {% import '@OroNavigation/Menu/menu.html.twig' as oro_menu %}
    {% if item.displayed and item.extras.isAllowed and not (item.extras.divider is defined and item.extras.divider) %}
        {% apply spaceless %}
            {% if item.extras[constant('Oro\\Bundle\\CommerceMenuBundle\\Entity\\MenuUpdate::MENU_TEMPLATE')]|default('') %}
                {{ oro_commercemenu_render_menu_item(item) }}
            {% else %}
                {% set itemAttributes = layout_attr_defaults(itemAttributes, {
                    'data-main-menu-item': item.level
                }) %}
                <li {{ oro_menu.attributes(itemAttributes) }}>
                    <div class="main-menu__actions">
                        {% set linkAttributes = layout_attr_defaults(item.linkAttributes, link_attr) %}
                        {% set labelAttributes = layout_attr_defaults(item.labelAttributes, label_attr) %}
                        {%- if item.uri is not empty and (not oro_commercemenu_is_current(item) or options.currentAsLink) %}
                            {{ block('linkElement') }}
                        {%- else %}
                            {{ block('spanElement') }}
                        {%- endif %}
                    </div>
                </li>
            {%- endif %}
        {% endapply %}
    {% endif %}
{% endblock %}
