{% block _quick_access_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " quick-access-container"
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _quick_access_menu_widget %}
    {% import '@OroNavigation/Menu/menu.html.twig' as oro_menu %}
    {% if item.displayed and item.extras.isAllowed %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': ' quick-access',
            'data-dom-relocation-options': {
                responsive: [
                    {
                        viewport: 'tablet',
                        moveTo: '[data-main-menu-extra-container]'
                    }
                ]
            }
        }) %}

        {% set firstItem = true %}
        {% for child in item.children %}
            {% if child.displayed and child.extras.isAllowed %}
                {% if firstItem %}
                    <div {{ block('block_attributes') }}>
                        <ul class="quick-access__list">
                {% endif %}

                {% if child.name == 'orders' %}
                    {% set badgeClass = 'quick-access__icon--light' %}
                    {% set iconClass = 'fa-clipboard' %}
                {% elseif child.name == 'quotes' %}
                    {% set badgeClass = '' %}
                    {% set iconClass = 'fa-tags' %}
                {% else %}
                    {% set badgeClass = 'quick-access__icon--dark' %}
                    {% set iconClass = 'fa-bolt' %}
                {% endif %}

            <li class="quick-access__item">
                {% set linkAttributes = child.linkAttributes|merge({'class': 'quick-access__link'}) %}
                <a href="{{ child.uri }}"{{ oro_menu.attributes(linkAttributes) }}>
                    <span class="quick-access__icon {{ badgeClass }} {{ iconClass }}" aria-hidden="true"></span>
                    {% set label = child.extras.custom is defined and child.extras.custom == true ? child.label : child.label|trans %}
                    <span class="quick-access__text">{{ label }}</span>
                </a>
            </li>

                {% set firstItem = false %}
            {% endif %}
        {% endfor %}

        {% if firstItem == false %}
                </ul>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
