{% block _search_row_main_container_widget %}
    <div class="header-row__container hidden-on-desktop">
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _search_row_extra_container_widget %}
    <div class="header-row__dropdown">
        <div class="search-container" data-header-row-search-container></div>
    </div>
{% endblock %}

{% block _search_row_trigger_widget %}
    {% set togglerId = 'dropdown-'|uniqid %}
    <button id="{{ togglerId }}" class="header-row__trigger hidden-on-desktop" type="button" data-toggle="dropdown" data-popper="false"
            aria-haspopup="true" aria-expanded="false"
            aria-label="{{ 'oro.commercemenu.frontend.navigation.items.search_dropdown.label'|trans }}">
        <span class="nav-trigger__icon nav-trigger__icon--transparent nav-trigger__icon--large" aria-hidden="true">
            <span class="fa-search fa--no-offset"></span>
        </span>
    </button>
    <div class="header-row__toggle" data-header-row-toggle aria-labelledby="{{ togglerId }}">
        {{ block_widget(block) }}
    </div>
{% endblock %}
