{% block _top_nav_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " topbar page-area-container page-header__inner page-header__inner--no-vertical-offset"
    }) %}

    {% if oro_config_value('oro_frontend.promotional_content') %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': " hide-on-mobile"
        }) %}
    {% else %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': " hide-on-tablet"
        }) %}
    {% endif %}

    {% set content = block_widget(block) %}
    {% if content|trim|length > 0 %}
    <div {{ block('block_attributes') }}>
        {{ content|raw }}
    </div>
    {% endif %}
{% endblock %}

{% block _top_nav_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " navigation-menu navigation-menu--inverse navigation-menu--align-end",
        'data-dom-relocation-options': {
            responsive: [
                {
                    viewport: 'tablet',
                    moveTo: '[data-sidebar-menus-bottom]',
                    startPointClass: 'navigation-menu--align-end navigation-menu--inverse',
                    endpointClass: 'navigation-menu__vertical'
                }
            ]
        }|json_encode
    }) %}

    {% set child_attr = layout_attr_defaults(child_attr, {
        '~class': ' navigation-menu__item'
    }) %}

    {% set link_attr = layout_attr_defaults(link_attr, {
        '~class': ' navigation-menu__inner navigation-menu__link'
    }) %}

    {% set label_attr = layout_attr_defaults(label_attr, {
        '~class': ' navigation-menu__inner'
    }) %}

    {{ parent_block_widget(block) }}
{% endblock %}


{% block _top_nav_topbar_container_left_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " topbar__left"
    }) %}
    {% set content = block_widget(block) %}
    {% if content|trim|length > 0 %}
        <div {{ block('block_attributes') }}>
            {{ content|raw }}
        </div>
    {% endif %}
{% endblock %}

{% block _top_nav_topbar_container_right_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " topbar__right"
    }) %}
    {% set content = block_widget(block) %}
    {% if content|trim|length > 0 %}
    <div {{ block('block_attributes') }}>
        {{ content|raw }}
    </div>
    {% endif %}
{% endblock %}

