{% block __datagrid_views__datagrid_views_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'class': 'js-frontend-datagrid-grid-views-tpl'
    }) %}

    <script type="text/template" {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </script>
{% endblock %}

{% block __datagrid_views__datagrid_views_group_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' dropdown',
        'data-dropdown-trigger': ''
    }) %}
    <% if (choices.length) { %>
        <div {{ block('block_attributes') }}>
            {{ block_widget(block) }}
        </div>
    <% } %>
{% endblock %}

{% block __datagrid_views__datagrid_views_toolbar_header_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid-views__header dropdown'
    }) %}
    <% if (choices.length) { %>
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
    <% } %>

    {{ block('__datagrid_views__datagrid_views_toolbar_header_options_widget') }}
{% endblock %}

{% block __datagrid_views__datagrid_views_toolbar_header_options_widget %}
    <% let oroui = _.macros('oroui') %>

    {% set stylerOptions = {
        responsive: {
            'mobile-landscape': {
                classes: 'btn btn--neutral hide-text',
                icon: 'more-horizontal'
            }
        }
    } %}

    <% if (currentActions.length && editable) { %>
    <div class="grid-views__options-dropdown dropdown">
        <button type="button" data-toggle="dropdown" class="btn btn--flat" data-placement="bottom-end" data-responsive-styler="" data-input-widget-options="{{ stylerOptions|json_encode }}">
            <span><%- _.__('oro.datagrid.gridView.actions') %></span>
            <%= oroui.renderIcon({name: 'chevron-down', extraClass: 'dropdown-menu-chevron hidden-mobile-big'}) %>
        </button>

        <div class="dropdown-menu">
            <ul class="grid-views__options">
                <% _.each(currentActions, function(action) { %>
                <% if (action.enabled && !action.inline) { %>

                <% if (action.divider) { %>
                <li class="dropdown-divider" aria-hidden="true"></li>
                <% } %>

                <li class="dropdown-item grid-views__options-item <% if (action.style !== void 0) { %>dropdown-item--<%- action.style %><% } %>">
                    <button class="btn grid-views__options-action <% if (action.style !== void 0) { %>btn--<%- action.style %>-plain<% } %>"
                        type="button"
                        aria-label="<%- action.label %> <%- label %>"
                        title="<%- action.label %>"
                        data-role="<%- action.name %>"
                        data-action-type="inline"
                        data-choice-value="<%- current %>"
                    >
                        <% if (action.icon) { %>
                            <%= oroui.renderIcon({name: action.icon}) %>
                        <% } %>
                        <%- action.label %>
                    </button>
                </li>
                <% } %>
                <% }) %>
            </ul>
        </div>
    </div>
    <% } else if (!editable) { %>
        <% _.each(currentActions, function(action) { %>
            <% if (action.enabled) { %>
                <button
                    type="button"
                    class="btn btn--outlined btn--size-small"
                    aria-label="<%- action.label %> <%- label %>"
                    title="<%- action.label %>"
                    data-role="<%- action.name %>"
                    data-action-type="inline"
                    data-choice-value="<%- current %>"
                >
                    <% if (action.icon) { %>
                        <%= oroui.renderIcon({name: action.icon}) %>
                    <% } %>
                    <%- action.label %>
                </button>
            <% } %>
        <% }) %>
    <% } %>

    <% if (type) { %>
        <div class="grid-views__shared-status" data-toggle="tooltip" title="<%- _.__('oro_frontend.datagrid_views.shared.' + type) %>">
            <%= oroui.renderIcon({name: type === 'public' ? 'users' : 'user', extraClass: 'theme-icon--small'}) %>
        </div>
    <% } %>
{% endblock %}

{% block __datagrid_views__datagrid_views_container_label_widget %}
    <%= title %>
{% endblock %}

{% block __datagrid_views__datagrid_views_container_edit_label_widget %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}

    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid-views__edit-label',
    }) %}

    <% if (dirty) { %>
        <span {{ block('block_attributes') }}>
            <%- editedLabel %>

            <% if (editable) { %>
                <div class="grid-views__edit-label-buttons">
                    <% _.each(currentActions, function(action) { %>
                        <% if (action.enabled && action.inline) { %>
                        <button class="btn <% if (action.inline.style !== void 0) { %>btn--<%- action.inline.style %><% } %>"
                            type="button"
                            aria-label="<%- action.label %> <%- label %>"
                            title="<%- action.label %>"
                            data-role="<%- action.name %>"
                            data-action-type="inline"
                            data-choice-value="<%- current %>"
                        >
                            <% if (action.inline.icon ) { %>
                                <%= oroui.renderIcon({name: action.inline.icon}) %>
                            <% } %>
                            <span class="sr-only"><%- action.label %></span>
                        </button>
                        <% } %>
                    <% }) %>
                </div>
            <% } else { %>
                {{ renderIcon.icon({name: 'alert-circle'}) }}
            <% } %>
        </span>
    <% } %>
{% endblock %}

{% block __datagrid_views__datagrid_views_popup_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid-views__dropdown dropdown-menu',
        'data-skip-focus-decoration': ''
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}

{% block __datagrid_views__datagrid_views_popup_close_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'type': 'button',
        '~class': ' btn btn--simple-colored close-dialog absolute',
        'title': 'Close'|trans,
        'aria-label': 'oro_frontend.datagrid_views.close.aria_label'|trans,
        'data-close': ''
    }) %}

    <button {{ block('block_attributes') }} >{{ renderIcon.icon({name: 'close', extraClass: 'theme-icon--medium none-pointer-events'}) }}</button>
{% endblock %}

{% block __datagrid_views__datagrid_views_popup_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid-views__containner',
        'data-grid-view-popup-container': ''
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __datagrid_views__datagrid_views_popup_list_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid-views__list',
        'data-role': 'grid-views-list'
    }) %}
    {% set content = block_widget(block) %}
    <ul {{ block('block_attributes') }}>
        <% let choiceIndex = 0 %>
        <% if (nonConfigurableChoices) { %>
            <li class="dropdown-header"><%- _.__('oro_frontend.datagrid_views.choices.non_configurable') %></li>
            <% _.each(nonConfigurableChoices, function (choice, iterate) { %>
                {{ content|raw }}
                <% choiceIndex++ %>
            <% }); %>
        <% } %>
        <% if (configurableChoices) { %>
            <% if (nonConfigurableChoices) { %>
            <li class="dropdown-divider" aria-hidden="true"></li>
            <% } %>
            <li class="dropdown-header"><%- _.__('oro_frontend.datagrid_views.choices.configurable') %></li>
            <% _.each(configurableChoices, function (choice, iterate) { %>
                {{ content|raw }}
                <% choiceIndex++ %>
            <% }); %>
        <% } %>
    </ul>
{% endblock %}

{% block __datagrid_views__datagrid_views_popup_list_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid-views__item'
    }) %}

    <li {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </li>
{% endblock %}

{% block __datagrid_views__datagrid_views_popup_list_dropdown_item_widget %}
    <div class="grid-views__dropdown-item dropdown-item<% if (current === choice.value) { %> dropdown-item--active<% } %>">
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __datagrid_views__datagrid_views_popup_list_item_label_widget %}
    <label class="grid-views__label checkbox-label">
        <span class="sr-only"><%- _.__('oro_frontend.datagrid_views.choice.aria_text', {choiceName: choice.label}) %></span>
        <input type="radio"
                name="grid-view-<%- gridViewId %>"
                value="<%- choice.value %>"
                data-change-grid-view=""
            <% if (current === choice.value) { %>
                checked
            <% } %>
        >
        <span class="grid-views__text-line text-clip" aria-hidden="true"><%- choice.label %></span>
        <% if (choice.isDefault) { %>
            <div class="status-label status-label--info">
                <%- _.__('oro_frontend.datagrid_views.status.default') %>
            </div>
        <% } %>
    </label>
{% endblock %}

{% block __datagrid_views__datagrid_views_popup_list_item_actions_widget %}
    <% let oroui = _.macros('oroui') %>
    <% if (showActions[choiceIndex]) { %>
        <div class="grid-views__actions">
            <div class="actions-row">
                <% _.each(actions[choiceIndex], function(action) { %>
                    <% if (action.enabled) { %>
                        <div class="actions-row__item">
                            <button class="btn<% if (action.style !== void 0) { %> btn--<%- action.style %>-plain<% } else { %> btn--simple<% } %>"
                                    type="button"
                                    aria-label="<%- action.label %> <%- choice.label %>"
                                    title="<%- action.label %>"
                                    data-role="<%- action.name %>"
                                    data-choice-value="<%- choice.value %>"
                            >
                                <% if (action.icon) { %>
                                    <%= oroui.renderIcon({name: action.icon}) %>
                                <% } %>
                            </button>
                        </div>
                    <% } %>
                <% }); %>
            </div>
        </div>
    <% } %>
{% endblock %}

{% block __datagrid_views__datagrid_views_popup_footer_widget %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid-views__footer'
    }) %}

    <div {{ block('block_attributes') }}>
        <div class="grid-views__toggle-container">
            <button class="btn btn--block btn--plain"
                    type="button"
                    data-role="save-new"
                    data-switch-edit-button=""
                    aria-label="<%- _.__('oro_frontend.datagrid_views.save_as_new.aria_label') %>"
            >
                {{ renderIcon.icon({name: 'plus', extraClass: 'theme-icon--small'}) }}
                <%- _.__("oro_frontend.datagrid_views.save_as_new") %>
            </button>
        </div>

        <div class="grid-views__edit-container" data-edit-container>
            <div class="grid grid-views__form-content">
                <div class="grid-col-12">
                    <input name="name"
                            class="input input--full frontend-grid-view-name"
                            type="text"
                            required
                            placeholder="<%- _.__('oro_frontend.datagrid_views.placeholder') %>"
                            aria-label="<%- _.__('oro_frontend.datagrid_views.input.aria_label') %>"
                            data-view-value
                    >
                </div>
                <div class="grid-col-12 grid-views__form-footer">
                    <div class="grid-views__button-group">
                        <button type="button"
                                class="btn btn--size-small"
                                data-grid-view-update
                                aria-label="<%- _.__('oro_frontend.datagrid_views.add.aria_label') %>"
                                data-text-add="<%- _.__('oro_frontend.datagrid_views.add') %>"
                                data-text-save="<%- _.__('oro_frontend.datagrid_views.save') %>"
                        ><%- _.__('oro_frontend.datagrid_views.add') %></button>
                        <button type="button"
                                class="btn btn--outlined btn--size-small"
                                data-cancel-edit
                                aria-label="<%- _.__('oro_frontend.datagrid_views.cancel.aria_label') %>"
                        ><%- _.__("oro_frontend.datagrid_views.cancel") %></button>
                    </div>

                    <div data-checkbox-container>
                        <label class="checkbox-label grid-views__set-default" aria-label="<%- _.__('oro_frontend.datagrid_views.set_as_default.aria_label') %>">
                            <input type="checkbox" name="is_default">
                            <%- _.__("oro_frontend.datagrid_views.set_as_default") %>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
