{% block __datagrid_views__datagrid_views_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'class': 'js-frontend-datagrid-grid-views-tpl'
    }) %}

    <script type="text/template" {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </script>
{% endblock %}

{% block __datagrid_views__datagrid_views_group_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' dropdown',
        'data-dropdown-trigger': ''
    }) %}
    <% if (choices.length) { %>
        <div {{ block('block_attributes') }}>
            {{ block_widget(block) }}
        </div>
    <% } %>
{% endblock %}

{% block __datagrid_views__datagrid_views_toolbar_header_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid-views__header'
    }) %}
    <% if (choices.length) { %>
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
    <% } %>
{% endblock %}

{% block __datagrid_views__datagrid_views_container_label_widget %}
    <%= title %>
{% endblock %}

{% block __datagrid_views__datagrid_views_container_edit_label_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid-views__edit-label',
    }) %}

    <% if (dirty) { %>
        <span {{ block('block_attributes') }}>&nbsp;-&nbsp;<%- editedLabel %></span>
    <% } %>
{% endblock %}

{% block __datagrid_views__datagrid_views_popup_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid-views__dropdown dropdown-menu',
        'data-skip-focus-decoration': '',
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __datagrid_views__datagrid_views_popup_close_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'type': 'button',
        '~class': 'close-dialog',
        'title': 'Close'|trans,
        'aria-label': 'oro_frontend.datagrid_views.close.aria_label'|trans,
        'data-close': ''
    }) %}
    <button {{ block('block_attributes') }} ></button>
{% endblock %}

{% block __datagrid_views__datagrid_views_popup_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid-views__containner',
        'data-grid-view-popup-container': ''
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __datagrid_views__datagrid_views_popup_title_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid-views__subtitle',
        'data-role': 'subtitle'
    }) %}
    <h3 {{ block('block_attributes') }}>{{ 'oro_frontend.datagrid_views.saved_views'|trans }}</h3>
{% endblock %}

{% block __datagrid_views__datagrid_views_popup_list_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid-views__list',
        'data-role': 'grid-views-list'
    }) %}
    <ul {{ block('block_attributes') }}>
        <% _.each(choices, function (choice, iterate) { %>
            {{ block_widget(block) }}
        <% }); %>
    </ul>
{% endblock %}

{% block __datagrid_views__datagrid_views_popup_list_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid-views__item'
    }) %}
    <li {{ block('block_attributes') }}>
        <div class="grid-views__label">
            <label class="checkbox-label">
                <span class="sr-only"><%- _.__('oro_frontend.datagrid_views.choice.aria_text', {choiceName: choice.label}) %></span>
                <input type="radio"
                       name="grid-view-<%- gridViewId %>"
                       value="<%- choice.value %>"
                       data-change-grid-view
                    <% if (current === choice.value) { %>
                        checked
                    <% } %>
                >
                <span class="grid-views__text-line line-clamp" aria-hidden="true"><%- choice.label %></span>
            </label>
        </div>
        <% if (showActions[iterate]) { %>
            <div class="grid-views__actions">
                <ol class="actions-row">
                    <% _.each(actions[iterate], function(action) { %>
                        <% if (action.enabled) { %>
                            <li class="actions-row__item">
                                <button class="actions-row__button"
                                        type="button"
                                        aria-label="<%- action.label %> <%- choice.label %>"
                                        title="<%- action.label %>"
                                        data-role="<%- action.name %>"
                                        data-choice-value="<%- choice.value %>"
                                >
                                    <% if (action.icon) { %>
                                        <span class="actions-row__icon fa-<%- action.icon %>" aria-hidden="true"></span>
                                    <% } %>
                                </button>
                            </li>
                        <% } %>
                    <% }); %>
                </ol>
            </div>
        <% } %>
    </li>
{% endblock %}

{% block __datagrid_views__datagrid_views_popup_footer_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid-views__footer'
    }) %}

    <div {{ block('block_attributes') }}>
        <div class="grid-views__toggle-container">
            <button class="btn btn--link btn--size-s btn--block"
                    type="button"
                    data-role="save-new"
                    data-switch-edit-button=""
                    aria-label="<%- _.__('oro_frontend.datagrid_views.save_as_new.aria_label') %>"
            >
                <span class="fa-plus-circle hide-text" aria-hidden="true"></span>
                <%- _.__("oro_frontend.datagrid_views.save_as_new") %>
            </button>
        </div>

        <div class="grid-views__edit-container" data-edit-container>
            <div class="grid grid-views__form-content">
                <div class="grid-col-12">
                    <input name="name"
                            class="input input--size-m input--full frontend-grid-view-name"
                            type="text"
                            required
                            placeholder="<%- _.__('oro_frontend.datagrid_views.placeholder') %>"
                            aria-label="<%- _.__('oro_frontend.datagrid_views.input.aria_label') %>"
                            data-view-value
                    >
                </div>
                <div class="grid-col-12 grid-views__form-footer">
                    <div class="grid-views__button-group">
                        <button type="button"
                                class="btn btn--info btn--size-s"
                                data-grid-view-update
                                aria-label="<%- _.__('oro_frontend.datagrid_views.add.aria_label') %>"
                                data-text-add="<%- _.__('oro_frontend.datagrid_views.add') %>"
                                data-text-save="<%- _.__('oro_frontend.datagrid_views.save') %>"
                        ><%- _.__('oro_frontend.datagrid_views.add') %></button>
                        <button type="button"
                                class="btn btn--size-s"
                                data-cancel-edit
                                aria-label="<%- _.__('oro_frontend.datagrid_views.cancel.aria_label') %>"
                        ><%- _.__("oro_frontend.datagrid_views.cancel") %></button>
                    </div>

                    <div data-checkbox-container>
                        <label class="checkbox-label grid-views__set-default" aria-label="<%- _.__('oro_frontend.datagrid_views.set_as_default.aria_label') %>">
                            <input type="checkbox" name="is_default">
                            <%- _.__("oro_frontend.datagrid_views.set_as_default") %>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
