{% block oro_commerce_menu_user_agent_condition_widget %}
    {% apply spaceless %}
        <div class="menu-user-agent-condition-item" data-layout="separate">
            <div class="menu-user-agent-inner-condition-label">AND</div>
            <div class="menu-user-agent-condition-item-container">
                <div class="menu-user-agent-condition-operation">
                    {{ form_widget(form.operation) }}
                </div>
                <div class="menu-user-agent-condition-value">
                    {{ form_widget(form.value) }}
                </div>
            </div>
        </div>
    {% endapply %}
{% endblock %}

{% macro oro_collection_item_prototype(form, name, disabled, allow_delete, allow_add_after) %}
    <div class="menu-user-agent-condition-container"
         data-content="{{ name }}"
         data-validation-optional-group
         {% if form.vars.attr['data-validation-optional-group-handler'] is defined %}
            data-validation-optional-group-handler="{{ form.vars.attr['data-validation-optional-group-handler'] }}"
         {% endif %}
    >
        <span class="menu-user-agent-condition-label">OR</span>
        <div class="menu-user-agent-condition">
            <div class="menu-user-agent-condition-wrap oro-multiselect-holder{% if not allow_delete %} not-removable{% endif %}">
                {{ form_widget(form, {disabled: disabled}) }}
                {% if allow_add_after %}
                    <button class="addAfterRow btn btn-action btn-link" type="button" data-related="{{ name }}">+</button>
                {% endif %}
            </div>
            {% if allow_delete %}
                <button class="removeRow btn btn-icon btn-square-lighter btn-remove-main-row" type="button" data-related="{{ name }}" aria-label="{{ 'Remove row'|trans }}">
                    <span class="fa-trash-o" aria-hidden="true"></span>
                </button>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro oro_collection_item_prototype_child(widget) %}
    {% import _self as commerceMenuFormFields %}

    {% set form = widget %}
    {% set name = widget.vars.full_name %}
    {% set disabled = widget.parent.vars.disabled %}
    {% set allow_delete = widget.parent.vars.allow_delete %}
    {% set allow_add_after = widget.parent.vars.allow_add_after %}
    {% if widget.vars.allow_delete is defined %}
        {% set allow_delete = allow_delete and widget.vars.allow_delete %}
    {% endif %}

    {{ commerceMenuFormFields.oro_collection_item_prototype(form, name, disabled, allow_delete, allow_add_after) }}
{% endmacro %}

{% macro oro_collection_item_prototype_html(widget) %}
    {% import _self as commerceMenuFormFields %}

    {% set form = widget.vars.prototype %}
    {% set name = widget.vars.prototype.vars.name %}
    {% set disabled = widget.vars.disabled %}
    {% set allow_delete = widget.vars.allow_delete %}
    {% set allow_add_after = widget.vars.allow_add_after %}

    {{ commerceMenuFormFields.oro_collection_item_prototype(form, name, disabled, allow_delete, allow_add_after) }}
{% endmacro %}

{% block oro_commerce_menu_user_agent_conditions_collection_widget %}
    {% import _self as commerceMenuFormFields %}

    {% apply spaceless %}
        {% if prototype is defined %}
            {% set prototype_html = commerceMenuFormFields.oro_collection_item_prototype_html(form) %}
        {% endif %}
        {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'oro-item-collection collection-fields-list' }) %}
        {% set id = id ~ '_collection' %}
        <div class="row-oro">
            {% set prototype_name = form.vars.prototype_name %}
            <div {{ block('widget_container_attributes') }} data-last-index="{{ form.children|length }}" data-row-count-add="{{ form.vars.row_count_add }}" data-prototype-name="{{ prototype_name }}"{% if prototype_html is defined %} data-prototype="{{ prototype_html|escape }}"{% endif %}>
                <input type="hidden" name="validate_{{ full_name }}" data-collection-name="{{ full_name }}" data-name="collection-validation" disabled data-validate-element>
                {% if form.children|length %}
                    {% for child in form.children %}
                        {{ commerceMenuFormFields.oro_collection_item_prototype_child(child) }}
                    {% endfor %}
                {% elseif show_form_when_empty and prototype_html is defined %}
                    {% for i in 0..(form.vars.row_count_initial - 1) %}
                        {{ prototype_html|replace({(prototype_name): i})|raw }}
                    {% endfor %}
                {% endif %}
            </div>
            {% if allow_add %}
                <a class="btn add-list-item" href="#"><i class="fa-plus"></i>{{ form.vars.add_label|default('oro.form.collection.add')|trans }}</a>
            {% endif %}
        </div>
        {% if handle_primary and (prototype is not defined or prototype.primary is defined) %}
            {{ commerceMenuFormFields.oro_collection_validate_primary_js(_context) }}
        {% endif %}
    {% endapply %}
{% endblock %}
