{% extends '@OroAddress/Include/fields.html.twig' %}

{% block oro_customer_acl_access_level_text_widget %}
    {% set additionalClass = '' %}
    {% if form.parent.parent.vars.privileges_config.view_type is defined and form.parent.parent.vars.privileges_config.view_type != 'grid' %}
        {% set additionalClass = 'span2' %}
    {% endif %}
        <div class="access_level_value_link">
                {% set label = level_label is not defined or level_label is empty ?
                translation_prefix ~ 'NONE' :
                translation_prefix ~ level_label
                %}
                {{ label|trans }}
            {% set type = type|default('hidden') %}
            {{ block('form_widget_simple') }}
        </div>
{% endblock %}

{% block oro_customer_typed_address_with_default_row %}
    {{ form_rest(form) }}
{% endblock %}

{% block oro_customer_customer_user_typed_address_widget %}
    {#Reuse parent widget declaration#}
    {{ block('oro_customer_typed_address_widget') }}
{% endblock %}

{% block oro_customer_typed_address_widget %}
    <div data-content="address-form">
        {{ form_row(form.primary, {label: 'oro.customer.customeraddress.primary.label'}) }}
        {{ form_row(form.id) }}
        {{ form_row(form.label, {label: 'oro.customer.customeraddress.label.label'}) }}
        {{ form_row(form.namePrefix, {label: 'oro.customer.customeraddress.name_prefix.label'}) }}
        {{ form_row(form.firstName, {label: 'oro.customer.customeraddress.first_name.label'}) }}
        {{ form_row(form.middleName, {label: 'oro.customer.customeraddress.middle_name.label'}) }}
        {{ form_row(form.lastName, {label: 'oro.customer.customeraddress.last_name.label'}) }}
        {{ form_row(form.nameSuffix, {label: 'oro.customer.customeraddress.name_suffix.label'}) }}
        {{ form_row(form.organization, {label: 'oro.customer.customeraddress.organization.label'}) }}
        {{ form_row(form.country, {label: 'oro.customer.customeraddress.country.label'}) }}
        {{ form_row(form.street, {label: 'oro.customer.customeraddress.street.label'}) }}
        {{ form_row(form.street2, {label: 'oro.customer.customeraddress.street2.label'}) }}
        {{ form_row(form.city, {label: 'oro.customer.customeraddress.city.label'}) }}
        {{ form_row(form.region_text, {label: 'oro.customer.customeraddress.region_text.label'}) }}
        {{ form_row(form.region, {label: 'oro.customer.customeraddress.region.label'}) }}
        {{ form_row(form.postalCode, {label: 'oro.customer.customeraddress.postal_code.label'}) }}
        {{ form_row(form.phone, {label: 'oro.customer.customeraddress.phone.label'}) }}
        {{ form_row(form.types, {label: 'oro.customer.customeraddress.types.label'}) }}
        {{ form_row(form.defaults, {label: 'oro.customer.customeraddress.defaults.label'}) }}
        {{ form_rest(form) }}
    </div>
{% endblock %}

{% block oro_customer_frontend_customer_user_typed_address_widget %}
    {{ block('oro_customer_frontend_typed_address_widget') }}
{% endblock %}

{% block oro_address_collection_widget %}
    {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'collection-fields-list-bg oro-address-collection' }) %}
        {% set options = {
            disableDefaultWithoutType: true,
            disableRepeatedTypes: true
        } %}
    <div
      data-page-component-module="orocustomer/js/app/components/customer-address-component"
      data-page-component-options="{{ options|json_encode }}">
    {{ block('oro_collection_widget') }}
    </div>
{% endblock %}

{% block _customer_users_oro_customer___case_insensitive_email_addresses_enabled_value_errors %}
    {%- apply spaceless -%}
        {% if errors|length > 0 %}
            {% set combinedError = '' %}
            {% for error in errors %}
                {% set combinedError = (combinedError != '') ? combinedError ~ '; ' ~ error.message : error.message %}
            {% endfor %}
            <div><span class="validation-failed"><span><span>{{ combinedError|raw }}</span></span></span><div>
        {% endif %}
    {% endapply %}
{% endblock %}
