{% block __oro_customer_menu__container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' primary-menu-container hide-on-tablet'
    }) %}
    <div {{ block('block_attributes') }}>
        <div class="primary-menu-container-inner sticky sticky--top" data-sticky="" data-customer-menu-container>
            {{ block_widget(block) }}
        </div>
    </div>
{% endblock %}

{% block __oro_customer_menu__list_widget %}
    {% import '@OroNavigation/Menu/menu.html.twig' as oro_menu %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' primary-menu ',
        'data-page-component-module': 'oroui/js/app/components/view-component',
        'data-page-component-options': {
            view: 'oronavigation/js/app/views/navigation-menu-view'
        }
    }) %}
    <ul {{ block('block_attributes') }}>
        {% set found = false %}

        {% for child in block %}
            {% if child.vars.visible %}
                {% for groupItem in child.vars.item.children %}
                    {% for menuItem in groupItem.children %}
                        {% if menuItem.displayed and menuItem.extras.isAllowed %}
                            {% set itemCurrentClass = '' %}
                            {% set linkCurrentClass = '' %}
                            {% if oro_commercemenu_is_current(menuItem) or oro_commercemenu_is_ancestor(menuItem) and not found %}
                                {% set itemCurrentClass = 'primary-menu__item--current' %}
                                {% set linkCurrentClass = 'primary-menu__link--current' %}
                            {% endif %}

                            <li class="primary-menu__item {{ itemCurrentClass }}">
                                {% set linkAttributes = menuItem.linkAttributes|merge({
                                    'class': 'primary-menu__link no-decoration ' ~ linkCurrentClass,
                                }) %}
                                {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
                                {% set icon = menuItem.extras.icon|default(null)%}
                                {%- apply spaceless -%}
                                <a href="{{ menuItem.uri }}"{{ oro_menu.attributes(linkAttributes) }}>
                                    {%- if icon -%}
                                        {{- renderIcon.icon({name: icon, extraClass: 'primary-menu__icon'}) -}}
                                    {%- endif -%}
                                    {{- menuItem.label|trans -}}
                                </a>
                                {%- endapply -%}
                            </li>
                            {% if oro_commercemenu_is_current(menuItem) or oro_commercemenu_is_ancestor(menuItem) and not found %}
                                {% set found = true %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
