{% block __oro_customer_menu__container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' primary-menu-container primary-menu-container__hidden-on-tablet'
    }) %}
    <div {{ block('block_attributes') }}>
        <h2 class="primary-menu-title">{{ 'oro.customer.frontend.menu.customer_user_profile.label'|trans }}</h2>
        <div class="primary-menu-container__hidden-on-tablet" data-customer-menu-container>
            {{ block_widget(block) }}
        </div>
    </div>
{% endblock %}

{% block __oro_customer_menu__list_widget %}
    {% import '@OroNavigation/Menu/menu.html.twig' as oro_menu %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' primary-menu primary-menu--vertical',
        'data-page-component-module': 'oroui/js/app/components/view-component',
        'data-page-component-options': {
            view: 'oronavigation/js/app/views/navigation-menu-view'
        }
    }) %}
    <ul {{ block('block_attributes') }}>
        {% set found = false %}

        {% for child in block %}
            {% if child.vars.visible %}
                {% for menuItem in child.vars.item.children %}
                    {% if menuItem.displayed and menuItem.extras.isAllowed %}
                        {% set itemCurrentClass = '' %}
                        {% set linkCurrentClass = '' %}
                        {% if oro_commercemenu_is_current(menuItem) or oro_commercemenu_is_ancestor(menuItem) and not found %}
                            {% set itemCurrentClass = 'primary-menu__item--current' %}
                            {% set linkCurrentClass = 'primary-menu__link--current' %}
                        {% endif %}

                        <li class="primary-menu__item {{ itemCurrentClass }}">
                            {% set linkAttributes = menuItem.linkAttributes|merge({
                                'class': 'primary-menu__link ' ~ linkCurrentClass,
                            }) %}
                            <a href="{{ menuItem.uri }}"{{ oro_menu.attributes(linkAttributes) }}>{{ menuItem.label|trans }}</a>
                        </li>
                        {% if oro_commercemenu_is_current(menuItem) or oro_commercemenu_is_ancestor(menuItem) and not found %}
                            {% set found = true %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
