{% import '@OroUI/macros.html.twig' as UI %}
{% import '@OroEmail/actions.html.twig' as EmailActions %}
{% import '@OroEmail/macros.html.twig' as Email %}
{% import '@OroEntityConfig/macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {% if entity.confirmed != true%}
                <div class="alert alert-warning">{{ 'oro.customer.customeruser.profile.statuses.unconfirmed'|trans }}</div>
            {% endif %}
            {% if  entity.namePrefix is defined %}
                {{ UI.renderProperty('oro.customer.customeruser.name_prefix.label'|trans, entity.namePrefix) }}
            {% endif %}
            {{ UI.renderProperty('oro.customer.customeruser.first_name.label'|trans, entity.firstName) }}
            {% if  entity.middleName is defined %}
                {{ UI.renderProperty('oro.customer.customeruser.middle_name.label'|trans, entity.middleName) }}
            {% endif %}
            {{ UI.renderProperty('oro.customer.customeruser.last_name.label'|trans, entity.lastName) }}
            {% if  entity.nameSuffix is defined %}
                {{ UI.renderProperty('oro.customer.customeruser.name_suffix.label'|trans, entity.nameSuffix) }}
            {% endif %}

            {{ UI.renderProperty('oro.customer.customeruser.birthday.label'|trans, UI.render_birthday(entity.birthday)) }}
            {{ UI.renderHtmlProperty('oro.customer.customeruser.email.label'|trans, Email.email_address_simple(entity.email)) }}

            {% if entity.customer %}
                {{ UI.renderHtmlProperty('oro.customer.customeruser.customer.label'|trans, UI.entityViewLink(entity.customer, entity.customer.name, 'oro_customer_customer_view')) }}
            {% endif %}

            {% if is_granted('oro_customer_customer_user_role_view') %}
                {% set roles = [] %}
                {% for entityRole in entity.userRoles %}
                    {% set roles = roles|merge([entityRole.label|escape]) %}
                {% endfor %}
                {{ UI.renderHTMLProperty('oro.customer.customeruser.roles.label'|trans, roles|join('<br />')) }}
            {% endif %}

            {% if entity.salesRepresentatives | length %}
                {{ UI.renderHtmlProperty('oro.customer.customeruser.sales_representatives.label'|trans, UI.entityViewLinks(entity.salesRepresentatives, 'fullName', 'oro_user_view')) }}
            {% endif %}
            {{ UI.renderProperty('oro.customer.customeruser.is_guest.label'|trans, entity.isGuest ?
            'oro.customer.customeruser.is_guest_yes.label'|trans
            :
            'oro.customer.customeruser.is_guest_no.label'|trans
            ) }}

            {% set authStatus %}
            {% if entity.authStatus.id == 'active' %}
                {{ UI.badge(entity.authStatus.name, 'enabled', 'fa-unlock') }}
            {% else %}
                {{ UI.badge(entity.authStatus.name, 'disabled', 'fa-unlock-alt') }}
            {% endif %}
            {% endset %}
            {{ UI.renderHtmlProperty('oro.customer.customeruser.auth_status.label'|trans, authStatus) }}

            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
    </div>
</div>
