{% block __oro_customer_user_address_list__user_addresses_create_button_widget %}
    {% set attr = layout_attr_defaults(attr, {'~class': ' btn-info pull-right'}) %}
    {{ block_widget(block, {attr: attr}) }}
{% endblock %}

{% block __oro_customer_user_address_list__user_addresses_list_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'orocustomer/js/app/components/frontend-customer-address-book-component',
        'data-page-component-options': componentOptions|merge({
            template: '#customer-address-book-addresses-list-template',
            manageAddressesLink: '[data-role="manage-adresses-link"]',
            mapViewport: 'tablet-small'
        }),
        '~class': ' address-list'
    }) %}
    <div{{ block('block_attributes') }}>
        {% include "@OroUI/view_loading.html.twig" %}
    </div>
{% endblock %}

{% block __oro_customer_user_address_list__user_addresses_list_template_widget %}
    {% set attr = layout_attr_defaults(attr, {
        id: 'customer-address-book-addresses-list-template'
    }) %}
    <script{{ block('block_attributes') }} type="text/template">
        {{ block_widget(block) }}
    </script>
{% endblock %}

{% block __oro_customer_user_address_list__user_addresses_list_template_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " address-list__item"
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_customer_user_address_list__user_addresses_list_template_item_address_widget %}
    {% set attr = layout_attr_defaults(attr, {'~class': " address-list__address"}) %}
    <div {{ block('block_attributes') }}>
        <div><%- street %></div>
        <div><%- city %>, <%- postalCode %>, <%- combinedCode ? combinedCode : countryIso2 %></div>
    </div>
{% endblock %}

{% block __oro_customer_user_address_list__user_addresses_list_template_item_type_widget %}
    {% set attr = layout_attr_defaults(attr, {'~class': " address-list__type"}) %}
    <div {{ block('block_attributes') }}>
        <% _.each(types, function(type, index) { %>
            <span><%= (_.findWhere(defaults, _.pick(type, 'name'))) ? _.__('oro.customer.address.default_type', {type_name: _.escape(type.label)}) : _.escape(type.label) %></span>
            <% if (index !== types.length - 1) { %>
            <span class="divider">/</span>
            <% } %>
        <% }) %>
    </div>
{% endblock %}

{% block __oro_customer_user_address_list__user_addresses_list_template_item_primary_widget %}
    {% set attr = layout_attr_defaults(attr, {'~class': " address-list__primary"}) %}
    <% if (primary) { %>
    <span {{ block('block_attributes') }}><%- _.__('oro.customer.address.primary') %></span>
    <% } %>
{% endblock %}

{% block __oro_customer_user_address_list__user_addresses_list_template_item_actions_widget %}
    {% set attr = layout_attr_defaults(attr, {'~class': " address-list__actions actions"}) %}
    <div {{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block __oro_customer_user_address_list__user_addresses_list_template_item_actions_open_map_widget %}
    {% import '@OroFrontend/layouts/default/utils.html.twig' as utils %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' address-list__button item-map-button',
        'data-page-component-module': "oroui/js/app/components/viewport-component",
        '~data-page-component-options': {
            viewport: 'tablet-small',
            component: 'oroui/js/app/components/view-component',
            view: 'orofrontend/default/js/app/views/fullscreen-popup-view',
            popupIcon: 'fa-chevron-left',
            contentView: 'oroaddress/js/mapservice/googlemaps',
            contentOptions: {
                address: {
                    address: '<%- _.escapeForJSON(searchable_string) %>',
                    label: '<%- _.escapeForJSON(label) %>'
                }
            }
        }
    }) %}
    <button {{ block('block_attributes_underscore') }}
            aria-label="{{ "oro.customer.action.customer_frontend_address.map"|trans }}">
        <span class="fa-map-o" aria-hidden="true"></span>
    </button>
{% endblock %}

{% block __oro_customer_user_address_list__user_addresses_list_template_item_actions_edit_widget %}
    {% set attr = layout_attr_defaults(attr, {'~class': " address-list__button item-edit-button"}) %}
    <button {{ block('block_attributes') }}
            aria-label="{{ "oro.customer.action.customer_user_frontend_address.edit"|trans }} <%- street %>, <%- city %>">
        <span class="fa-pencil" aria-hidden="true"></span>
    </button>
{% endblock %}

{% block __oro_customer_user_address_list__user_addresses_list_template_item_actions_remove_widget %}
    {% set attr = layout_attr_defaults(attr, {'~class': " address-list__button item-remove-button"}) %}
    <button {{ block('block_attributes') }}
            aria-label="{{ "oro.customer.action.customer_user_frontend_address.delete"|trans }} <%- street %>, <%- city %>">
        <span class="fa-trash-o" aria-hidden="true"></span>
    </button>
{% endblock %}

{% block __oro_customer_user_address_list__user_addresses_list_template__manage_addresses_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " address-list__manage hidden",
        'data-role': "manage-adresses-link"
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_customer_user_address_list__user_addresses_list_template__manage_addresses_link_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' address-list__manage-link'
    }) %}
    {{ block_widget(block, {attr: attr}) }}
{% endblock %}
