{% import '@OroUI/macros.html.twig' as UI %}
{% import '@OroEmail/actions.html.twig' as EmailActions %}
{% import '@OroEntityConfig/macros.html.twig' as entityConfig %}
{% import '@OroCustomer/macros.html.twig' as CustomerMacro %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('oro.customer.customer.name.label'|trans, entity.name) }}
            {{ UI.renderHtmlProperty(
                'oro.customer.customer.parent.label'|trans,
                CustomerMacro.buildCustomerParentBreadcrumbs(entity)
            ) }}
            {{ UI.renderProperty('oro.ui.created_at'|trans, entity.createdAt ? entity.createdAt|oro_format_datetime : 'N/A'|trans) }}
            {{ UI.renderProperty('oro.ui.updated_at'|trans, entity.updatedAt ? entity.updatedAt|oro_format_datetime : 'N/A'|trans) }}

            {% if entity.group %}
                {{ UI.renderHtmlProperty(
                    'oro.customer.customer.group.label'|trans,
                    UI.entityViewLink(entity.group, entity.group.name, 'oro_customer_customer_group_view')
                ) }}
            {% endif %}

            {% if entity.salesRepresentatives | length %}
                {{ UI.renderHtmlProperty('oro.customer.customer.sales_representatives.label'|trans, UI.entityViewLinks(entity.salesRepresentatives, 'fullName', 'oro_user_view')) }}
            {% endif %}

            {% if entity.getInternalRating and is_granted('VIEW', entity.getInternalRating)%}
                {{ UI.renderProperty('oro.customer.customer.internal_rating.label'|trans, entity.getInternalRating.name) }}
            {% endif %}

            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
    </div>
</div>
