{% block _style_book_grid_element_grid_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' grid'
    }) %}

    <div {{ block('block_attributes') }}>
        <div class="grid__row">
            <div class="grid__column grid__column--1">grid__column--1</div>
            <div class="grid__column grid__column--1">grid__column--1</div>
            <div class="grid__column grid__column--1">grid__column--1</div>
            <div class="grid__column grid__column--1">grid__column--1</div>
            <div class="grid__column grid__column--1">grid__column--1</div>
            <div class="grid__column grid__column--1">grid__column--1</div>
            <div class="grid__column grid__column--1">grid__column--1</div>
            <div class="grid__column grid__column--1">grid__column--1</div>
            <div class="grid__column grid__column--1">grid__column--1</div>
            <div class="grid__column grid__column--1">grid__column--1</div>
            <div class="grid__column grid__column--1">grid__column--1</div>
            <div class="grid__column grid__column--1">grid__column--1</div>
        </div>
        <div class="grid__row">
            <div class="grid__column grid__column--3">grid__column--3</div>
            <div class="grid__column grid__column--9">grid__column--9</div>
        </div>
        <div class="grid__row">
            <div class="grid__column grid__column--4">grid__column--4</div>
            <div class="grid__column grid__column--4">grid__column--4</div>
            <div class="grid__column grid__column--4">grid__column--4</div>
        </div>
        <div class="grid__row">
            <div class="grid__column grid__column--12">grid__column--12</div>
        </div>
    </div>
{% endblock %}

{% block _style_book_grid_element_offset_row_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' grid'
    }) %}

    <div {{ block('block_attributes') }}>
        <div class="grid__row grid__row--has-twin-row">
            <div class="grid__column grid__column--6">grid__row--has-twin-row</div>
            <div class="grid__column grid__column--6">grid__row--has-twin-row</div>
        </div>
        <div class="grid__row grid__row--offset-l">
            <div class="grid__column grid__column--6">grid__row--offset-l (default theme)</div>
            <div class="grid__column grid__column--6">grid__row--offset-l (default theme)</div>
        </div>
        <div class="grid__row">
            <div class="grid__column grid__column--6">grid__row</div>
            <div class="grid__column grid__column--6">grid__row</div>
        </div>
        <div class="grid__row grid__row--offset-m">
            <div class="grid__column grid__column--6">grid__row--offset-m</div>
            <div class="grid__column grid__column--6">grid__row--offset-m</div>
        </div>
        <div class="grid__row grid__row--offset-s">
            <div class="grid__column grid__column--6">grid__row--offset-s</div>
            <div class="grid__column grid__column--6">grid__row--offset-s</div>
        </div>
        <div class="grid__row grid__row--offset-none">
            <div class="grid__column grid__column--6">grid__row--offset-none</div>
            <div class="grid__column grid__column--6">grid__row--offset-none</div>
        </div>
        <div class="grid__row">
            <div class="grid__column grid__column--6">grid__row</div>
            <div class="grid__column grid__column--6">grid__row</div>
        </div>
    </div>
{% endblock %}

{% block _style_book_grid_element_offset_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' grid'
    }) %}

    <div {{ block('block_attributes') }}>
        <div class="grid__row">
            <div class="grid__column grid__column--3 grid__column--offset-m">grid__column--3 grid__column--offset-m</div>
            <div class="grid__column grid__column--3 grid__column--offset-m">grid__column--3 grid__column--offset-m</div>
            <div class="grid__column grid__column--3">grid__column--3</div>
        </div>
    </div>
{% endblock %}

{% block _style_book_grid_element_offset_bottom_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' grid'
    }) %}

    <div {{ block('block_attributes') }}>
        <div class="grid__row">
            <div class="grid__column grid__column--6 grid__column--offset-y">grid__column--6 grid__column--offset-y</div>
            <div class="grid__column grid__column--6 grid__column--offset-y">grid__column--6 grid__column--offset-y</div>
            <div class="grid__column grid__column--6 grid__column--offset-y">grid__column--6 grid__column--offset-y</div>
            <div class="grid__column grid__column--6 grid__column--offset-y">grid__column--6 grid__column--offset-y</div>
            <div class="grid__column grid__column--6 grid__column--offset-y">grid__column--6 grid__column--offset-y</div>
            <div class="grid__column grid__column--6 grid__column--offset-y">grid__column--6 grid__column--offset-y</div>
        </div>
    </div>
{% endblock %}

{% block _style_book_grid_element_half_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' grid'
    }) %}

    <div {{ block('block_attributes') }}>
        <div class="grid__row">
            <div class="grid__column grid__column-half">grid__column-half</div>
            <div class="grid__column grid__column-half">grid__column-half</div>
        </div>
    </div>
{% endblock %}

{% block _style_book_grid_element_clear_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' grid'
    }) %}

    <div {{ block('block_attributes') }}>
        <div class="grid__row">
            <div class="grid__column grid__column--3">grid__column--3</div>
            <div class="grid__column grid__column--3">grid__column--3</div>
            <div class="grid__column grid__column--3 grid__column--both">grid__column--3 grid__column--both</div>
            <div class="grid__column grid__column--3">grid__column--3</div>
        </div>
    </div>
{% endblock %}

{% block _style_book_grid_element_notification_flash_widget %}
    <div class="notification-flash--error">
        <div class="notification-flash__badge">
            <i class="fa-exclamation-triangle"></i>
        </div>
        <div class="notification-flash__text">
            This is an Error Message
        </div>
    </div>
{% endblock %}

{% block _style_book_grid_element_notification_flash_success_widget %}
    <div class="notification-flash--success">
        <div class="notification-flash__badge">
            <i class="fa-check"></i>
        </div>
        <div class="notification-flash__text">
            This is a Success Message
        </div>
    </div>
{% endblock %}

{% block _style_book_grid_element_notification_flash_warning_widget %}
    <div class="notification-flash--warning">
        <div class="notification-flash__badge">
            <i class="fa-exclamation-circle"></i>
        </div>
        <div class="notification-flash__text">
            This is a Warning Message
        </div>
    </div>
{% endblock %}

{% block _style_book_grid_element_notification_message_widget %}
    <div class="notification--error">
        <div class="notification__item">
            <i class="fa-exclamation-triangle"></i>
            <span class="notification__text">This is an Error Message</span>
        </div>
    </div>
{% endblock %}

{% block _style_book_grid_element_notification_message_success_widget %}
    <div class="notification--success">
        <div class="notification__item">
            <i class="fa-check"></i>
            <span class="notification__text">This is a Success Message</span>
        </div>
    </div>
{% endblock %}

{% block _style_book_grid_element_notification_message_warning_widget %}
    <div class="notification--warning">
        <div class="notification__item">
            <i class="fa-exclamation-circle"></i>
            <span class="notification__text">This is a Warning Message</span>
        </div>
    </div>
{% endblock %}

{% block _style_book_grid_element_callout_info_widget %}
    <div class="callout-block">
        <h2 class="callout-block-title">Info Callout</h2>
        <p>This is a info callout.</p>
    </div>
{% endblock %}

{% block _style_book_grid_element_callout_warning_widget %}
    <div class="callout-block callout-warning">
        <h2 class="callout-block-title">Warning Callout</h2>
        <p>This is a warning callout.</p>
    </div>
{% endblock %}

{% block _style_book_grid_element_callout_danger_widget %}
    <div class="callout-block callout-danger">
        <h2 class="callout-block-title">Danger Callout</h2>
        <p>This is a danger callout.</p>
    </div>
{% endblock %}
