@name = frontend_export_result
@entityName = Oro\Bundle\FrontendImportExportBundle\Entity\FrontendImportExportResult
@subject = Frontend export result for job {{ jobName }}
@isSystem = 1
@isEditable = 1

{% spaceless %}
    <style>
        @media (max-width: 480pt) {
            .wrapper{
                width: 100% !important;
            }
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
    <div class="wrapper">
        <h1>Hi, {{ exportResult.user }}</h1>
        {% if exportResult['success'] %}
            <p>
                Your {{ exportResult['entities'] }} data export has been finished.
            </p>
            <button>
                <a href="{{ exportResult['url'] }}" target="_blank">Download Results</a>
            </button>
        {% else %}
            <p>
                Something went wrong with your product {{ exportResult['entities'] }} data export request. Please try again.
                <button>
                    <a href="{{ exportResult['tryAgainUrl'] }}" target="_blank">Try again</a>
                </button>
            </p>
        {% endif %}
    </div>
{% endspaceless %}