{% block _style_book_main_content_widget %}
    <div class="content-section">
        <h2 class="content-section__sub-title">{{ 'oro_stylebook.main_content.sub_title_main'|trans }}</h2>
        <p class="content-section__text">{{ 'oro_stylebook.main_content.text_content'|trans }}</p>
        <p class="content-section__text">{{ 'oro_stylebook.main_content.text_content_third'|trans|raw }}</p>
    </div>
    <div class="content-section">
        <h2 class="content-section__sub-title">{{ 'oro_stylebook.main_content.sub_title'|trans }}</h2>
        <p class="content-section__text">{{ 'oro_stylebook.main_content.text_content_first'|trans }}</p>
        <p class="content-section__text">{{ 'oro_stylebook.main_content.text_content_second'|trans }}</p>
    </div>
{% endblock %}
