{% block _fullscreen_popup_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': 'fullscreen-popup'
    }) %}
    <script type="text/template" id="fullscreen-popup-tpl">
        <div {{ block('block_attributes') }}>
            {{ block_widget(block) }}
        </div>
    </script>
{% endblock %}

{% block _fullscreen_popup_header_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-role': 'header',
        '~class': 'fullscreen-popup__header'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _fullscreen_popup_header_label_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': 'fullscreen-popup__label'
    }) %}
    <% if (label) { %>
        <div {{ block('block_attributes') }}>
            <span class="fullscreen-popup__text"<% if (closeOnLabel) { %> data-role="close"<% } %>>
                <% if (icon) { %>
                    <% if (badge) { %>
                        <span class="fullscreen-popup__badge">
                            <i class="<%= icon %>"></i>
                        </span>
                    <% } else { %>
                        <i class="<%= icon %>"></i>
                    <% } %>
                <% } %>
                <span class="fullscreen-popup__words"><%= label %></span>
            </span>
        </div>
    <% } %>
{% endblock %}

{% block _fullscreen_popup_header_close_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-role': 'close',
        '~class': 'fullscreen-popup__close'
    }) %}
    <% if (close) { %>
        <buttom type="button" {{ block('block_attributes') }}></buttom>
    <% } %>
{% endblock %}

{% block _fullscreen_popup_content_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-role': 'content',
        '~class': 'fullscreen-popup__content'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _fullscreen_popup_footer_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-role': 'footer',
        '~class': 'fullscreen-popup__footer'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}
