{% set contentProviderContent = oro_get_content(null, ['navigationElements'])|first %}
<div id="bookmark-buttons">
    <div class="navigation clearfix">
        <div class="top-action-box">
            {% apply spaceless %}
            <button class="btn btn-icon favorite-button" {% if contentProviderContent['favoriteButton'] == false %}style="display: none"{% endif %}
                    type="button"
                    data-title="{{ oro_title_render_serialized() }}"
                    data-title-rendered-short="{{ oro_title_render_short() }}"
                    data-navigation-items-route="oro_api_frontend_get_navigationitems"
                    data-type-name="frontend_favorite"
                    title="{{ 'oro.navigation.favorites.button.title'|trans }}">
                        <i class="fa-star hide-text">{{ 'oro.navigation.favorites.button'|trans }}</i>
            </button>
            <button class="btn minimize-button" {% if contentProviderContent['pinButton'] == false %}style="display: none"{% endif %}
                    type="button"
                    data-title="{{ oro_title_render_serialized() }}"
                    data-title-rendered-short="{{ oro_title_render_short() }}"
                    data-navigation-items-route="oro_api_frontend_get_navigationitems"
                    data-type-name="frontend_pinbar"
                    title="{{ 'oro.navigation.pins.button.title'|trans }}">
                        <i class="fa-thumb-tack hide-text">{{ 'oro.navigation.pins.button'|trans }}</i>
            </button>
            {% endapply %}
        </div>
    </div>
</div>
