{% if isDesktopVersion() %}
{% set togglerId = 'dropdown-'|uniqid %}
<div class="list-bar-wrapper" id="pinbar">
    <div class="list-bar">
        <ul></ul>
        <div class="pin-bar-empty" ><a href="{{ path('oro_customer_pinbar_help') }}">{{ 'oro.customer.menu.how_to_use_pinbar'|trans }}</a></div>
    </div>
    <div class="show-more dropdown">
        <a id="{{ togglerId }}" role="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
           aria-label="{{ 'oro.customer.menu.more_pintabs.label'|trans }}"><span class="fa-ellipsis-v" aria-hidden="true"></span></a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="{{ togglerId }}"><ul></ul></div>
    </div>
    {{ oro_menu_render('frontend_pinbar') }}
</div>
{% endif %}
